---
layout: front
title: SonarQube Server licencias, servicios y soporte en España
description: Adquiere licencias y servicios de SonarQube Server con excentia. Garantiza calidad, seguridad y eficiencia en tu código
---

<section id="producto-cabecera" class="bg-primary text-center">
  <div class="container">
    <div class="row title">
    <img src="/img/sonarsource-products/logo-sonarqube-serve.png" height="100px" alt="Logo SonarQube server">
    </div>
    <div class="row">
      <div class="col-md-6">
        <br>
        <br>
        <img width="100%"
             src="/img/sonarsource-products/sonarqube server interface excentia.png" alt="Que es SonarQube server">
      </div>
      <div class="col-md-6 text-left">
          <h1>SonarQube Server la plataforma líder para corregir código</h1>
        <p class="header-text">
          SonarQube Server identifica y <strong>resuelve los problemas de calidad de código</strong> para entregar un software seguro y escalable. No importa si es <strong>código generado por un desarrollador o por la IA</strong>. SonarQube Server es la solución que necesitas para desarrollar código de calidad. 
        </p>
        <div class="text-left">
          <a class="btn btn-warning btn-xl" href="#sonarqube-solicitud" >QUIERO SONARQUBE</a>
        </div>      
      </div> 
      
    </div>
  </div>
</section>


<section id="servicios-sonarsource" class="features text-center" style="padding: 80px 0;">
  <div class="container">
    <div class="row title;">
      <h2>¿Qué es SonarQube Server?</h2>
      <br>
      <p class="header-text">SonarQube Server es la plataforma de <strong>análisis estático de código</strong> para detectar
        problemas en la calidad del código como bugs, vulnerabilidades y code smells y ayuda a resolverlos. Compatible con más de 30 lenguajes de programación, SonarQube Server se integra con flujos de trabajo existentes para 
        realizar comprobaciones en cada etapa del proceso de desarrollo de un producto.</p>
      <img width="90%" src="img/sonarsource-products/sonarqube-development-workflow.png" alt="Workflow SonarQube Server">
      <div style="padding-top:15px">
  </div>
</div>
</section>

<section id="servicios-sonarsource" class="features text-center" style="padding: 0px 0;">
  <div class="container">
    <div class="row title">
      <h2>Características de SonarQube Server</h2>
      <p class="header-text">
        A continuación, te explicamos la principales características de SonarQube Server. Este listado te ayudará a conocer cómo puedes desarrollar código de calidad con SonarQube Server: 
      </p>
    </div>
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="sonarsource-service-item">
              <i class="fa fa-folder-o text-sonarsource"></i>
              <div class="text-center">
                <p style="font-size: 28px; font-weight: bold;">Analiza todos tus proyectos</p>
                <p>
                  Analiza automáticamente la calidad de tu código, corrige errores,
                  resuelve vulnerabilidades y aplica la filosofía Clean Code.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sonarsource-service-item">
              <i class="icon-equalizer text-sonarsource"></i>
              <div class="text-center">
                <p style="font-size: 28px; font-weight: bold;">Integración con tu CI/CD</p>
                <p>
                  Integra SonarQube Server con GitHub Actions, GitLab CI/CD, Azure Pipelines,
                  Bitbucket Pipelines y Jenkins.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sonarsource-service-item text-left">
              <i class="fa fa-file-pdf-o text-sonarsource"></i>
              <div class="text-center">
                <p style="font-size: 28px; font-weight: bold;">Quality Gates</p>
                <p>
                  Cuando la calidad del código no cumple con los estándares definidos fallaran 
                  los pipelines gracias a los Quality Gates.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="sonarsource-service-item text-left">
              <i class="fa fa-check-square-o text-sonarsource"></i>
              <div class="text-center">
                <p style="font-size: 28px; font-weight: bold;">Reglas de seguridad</p>
                <p>
                  Las más de 5.000 reglas de codificación y análisis te permitirán
                  obtener comentarios prácticos sobre Java, C#, PHP...
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sonarsource-service-item text-left">
              <i class="fa fa-handshake-o text-sonarsource"></i>
              <div class="text-center">
                <p style="font-size: 28px; font-weight: bold;">Informes personalizados</p>
                <p>
                  Los informes detellados de SonarQube te ayudan a cumplir con los estándares de 
                  seguridad como OWASP.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="sonarsource-service-item text-left">
              <i class="fa fa-code-fork text-sonarsource"></i>
              <div class="text-center">
                <p style="font-size: 28px; font-weight: bold;">Añade SonarLint en tu IDE</p>
                <p>
                  Agrega la extensión SonarLint a tu IDE y encuentra problemas de código sobre 
                  la marcha y corrígelos. 
                </p>
              </div>           
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section id="sonarsource-partner" class="producto-detalle text-center text-center" style="background-color:#f0f0f0; padding: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img style="width: 100%; padding-top: 30px;"
             src="/img/excentia/logo-new-sonar.png" alt="Logo SonarSource"/>
             <p style="font-size: 20px; margin:auto; text-align: left;">Partner exclusivo en España</p>
             <P style="font-size: 20px; margin:auto; text-align: left;">Partner en Latinoamérica</p>
      </div>
      <div class="col-md-6 col-md-offset-1 text-left">
        <p class="header-text">
          Somos el <strong>Partner exclusivo de SonarSource en España y Latinoamérica</strong>. Somos referentes en calidad y seguridad del código con una intrínseca filosofía
          de <strong>mejora continua</strong>, lo que nos convierte en el compañero perfecto para guiarte, aconsejarte y resolver cualquier duda durante todo tu camino.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="servicios-sonarsource" class="features text-center">
  <div class="container">
    <div class="row title">
      <h2>Soluciones de Sonar</h2>
      <p class="header-text">
      Conoce como las soluciones de SonarQube Server, SonarQube Cloud y SonarQube for IDE te pueden ayudar a superar los <strong>retos actuales</strong> del sector del software. 
      </p>
    </div>

    <div class="col-md-3">
      <div style="margin: auto; width: 100%;">
        <div class="text-center">
          <div class="block">
            <img height=80px src="/img/sonarsource-products/ia.png" alt="SonarQube para la IA">
          </div>
          <div class="block">
            <p style="font-size: 28px; font-weight: bold;">IA</p>
          </div>
                <p>Aprovecha el potencial de la IA para desarrollar código seguro y de calidad.</p>
                <a class="btn btn-warning btn-xl sonarsource-background" style="padding: 10px 18px;font-size: 0.8em;" href="/sonarsource-ia">MAS INFORMACIÓN</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div style="margin: auto; width: 100%;">
              <div class="text-center">
                <div class="block">
                  <img height=80px src="/img/sonarsource-products/devops.png" alt="SonarQube para DevOps">
                </div>
                <div class="block">
                  <p style="font-size: 28px; font-weight: bold;">DevOps</p>
                </div>
                <p>Las soluciones de SonarQube te ayudan a tener las mejores áreas DevOps.</p>
                <a class="btn btn-warning btn-xl sonarsource-background" style="padding: 10px 18px;font-size: 0.8em;" href="/sonarsource-devops">MAS INFORMACIÓN</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div style="margin: auto; width: 100%;">
              <div class="text-center">
                <div class="block">
                  <img height=80px src="/img/sonarsource-products/security.png" alt="SonarQube Security">
                </div>
                <div class="block">
                  <p style="font-size: 28px; font-weight: bold;">Security</p>
                </div>
                <p>Corrige vulnerabilidades con un análisis de seguridad automatizado y preciso.</p>
                <a class="btn btn-warning btn-xl sonarsource-background" style="padding: 10px 18px;font-size: 0.8em;" href="/sonarsource-security">MAS INFORMACIÓN</a>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div style="margin: auto; width: 100%;">
              <div class="text-center">
                <div class="block">
                  <img height=80px src="/img/sonarsource-products/outsourcing.png" alt="SonarQube para Outsourcing">
                </div>
                <div class="block">
                  <p style="font-size: 28px; font-weight: bold;"></p>Outsourcing</p>
                </div>
                <p>Conoce cómo reducir los riesgos de la subcontratación del desarrollo del código. </p>
                <a class="btn btn-warning btn-xl sonarsource-background" style="padding: 10px 18px;font-size: 0.8em;" href="/sonarsource-outsourcing">MAS INFORMACIÓN</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section id="banner" class="producto-detalle text-center" style="background-color: #ffffff; padding:50px 0">
  <div class="container">
    <div class="row title;">
        <h2>Analiza 30 lenguajes de programación </h2>
            <p class="header-text"> SonarQube server te ofrece una guía de resolución de problemas para todos estos lenguajes<strong> y así sabrás qué es lo que está mal y cómo puedes solucionarlo</strong>. 
            </p>
            <div class="block">
              <img width="80%" src="/img/sonarsource-products/lenguajes-sonarqube-2023.png" alt="Analiza lenguajes de programación con SonarQube">
            </div>
    </div>
  </div>
</section>

<section id="sonarqube-plugins" class="bg-primary text-center" style="padding-top: 50px">
  <div class="container">
    <div class="row title">
      <div class="col-md-10 col-md-offset-1">
        <h2>Integraciones de SonarQube</h2>
        <p class="header-text">
          Nuestro equipo ha desarrollado aplicaciones que permiten ampliar funcionalidades de SonarQube Server e integrarlas otras herramientas. Aquí te contamos cuáles son: 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="tarjeta-producto">
          <div class="informacion-producto">
          <img width="80px" src="/img/atlassian-addons/sonarqube-connector-jira.png" alt="Logo SonarQube Connnector for Jira">
          <p style="font-size: 28px; font-weight: bold;">SonarQube Connector for Jira</p>
          <p class="product-usage-description text-left">Integración de SonarQube con Jira. Consulta tu deuda ténica, bugs y vulnerabilidades sin salir de Jira.</p>
          </div>
          <div class="enlace-producto">
            <div class="row">
              <a href="https://marketplace.atlassian.com/apps/1217471/sonarqube-connector-for-jira??utm_source=website&utm_medium=page&utm_campaign=sonarsource&utm_content=atlassian_marketplace" target="_blank" rel="nofollow" class="btn btn-primary btn-xl sonarsource-background" style="border-radius: 4px;">DESCARGA</a>
            </div>
            <div style="margin-top: 20px">
              <a href="sonarqube-connector-jira" style="color: black"><u>Descubre más</u> ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="tarjeta-producto">
          <div class="informacion-producto">
            <img width="80px" src="/img/atlassian-addons/sonarqube-connector-confluence.png" alt="Logo SonarQube Connnector for Confluence">
            <p style="font-size: 28px; font-weight: bold;">SonarQube Connector for Confluence</p>
            <p class="product-usage-description text-left">
             Consulta en tiempo real el estado de calidad de tu código sin salir de tu instancia de Confluence. 
            </p>
          </div>
          <div class="enlace-producto">
            <div class="row">
              <a href="https://marketplace.atlassian.com/apps/1218460/sonarqube-connector-for-confluence?utm_source=website&utm_medium=page&utm_campaign=sonarsource&utm_content=atlassian_marketplace" target="_blank" rel="nofollow" class="btn btn-primary btn-xl sonarsource-background" style="border-radius: 4px;">DESCARGA</a>
            </div>
            <div style="margin-top: 20px">
              <a href="sonarqube-connector-confluence" style="color: black"><u>Descubre más</u> ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="tarjeta-producto">
          <div class="informacion-producto">
            <img width="80px" src="/img/atlassian-addons/sonarqube-connector-bitbucket.png" alt="Logo SonarQube Connector for Bitbucket">
            <p style="font-size: 28px; font-weight: bold;">SonarQube Connector for Bitbucket</p>
            <p class="product-usage-description text-left">
            Consulta el modelo de calidad de tu código de SonarQube en tu repositorio de Bitbucket.
            </p>
          </div>
          <div class="enlace-producto">
            <div class="row">
              <a href="https://marketplace.atlassian.com/apps/1226407/sonarqube-connector-for-bitbucket?utm_source=website&utm_medium=page&utm_campaign=atlassian&utm_content=atlassian_marketplace" target="_blank" rel="nofollow" class="btn btn-primary btn-xl sonarsource-background" style="border-radius: 4px;">DESCARGA</a>
            </div>
            <div style="margin-top: 20px">
              <a href="/sonarqube-connector-bitbucket" style="color: black"><u>Descubre más</u> ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="banner-promotion" class="producto-detalle text-center text-center" style="background-color:#290042; padding: 50px;">
  <div class="container">
    <div class="row">

      <div class="col-md-7 col-md-offset-1 text-left" style="color: #ffffff;">
        <h2 style="font-size: 25px; margin:auto; text-align: left;">Descarga gratis guías PDF de SonarQube, whitepapers y documentación técnica</h2>
      </div>

      <div class="col-md-4">
        <div class="enlace-curso">
            <a href="/guias-sonarqube" target="_blank" class="btn btn-warning btn-xl sonarsource-background" style="border-radius: 4px;">VER DOCUMENTOS</a>
          </div>
      </div>

    </div>
  </div>
</section>

<section id="ediciones-sonarsource" class=" text-center" style="padding: 50px 0; background-color:#f0f0f0;">
  <div class="container">
    <div class="row title">
      <div class="col-md-10 col-md-offset-1">
        <h2>Planes y licencias de SonarQube</h2>
        <p class="header-text">
          A continuación encontrarás las distintas ediciones de SonarQube Server diseñadas en función de las necesidades de cada empresa.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3">
            <div class="block">
              <img height=38px src="/img/sonarsource-products/open-source.svg" alt="Licencias SonarQube Community Edition Open Source">
            </div>
            <div class="block">
              <h3>Community</h3>
              <span class="label label-default">EDITION</span>
            </div>
            <div class="block" style="padding-top: 20px">
              <p class="product-usage-description">
                Usado y querido por más de 200.000 empresas
              </p>  
            </div>        
          </div>
          <div class="col-md-3">
            <div class="block">
              <img height=38px src="/img/sonarsource-products/developer.svg" alt="Licencias SonarQube Developer Edition">
            </div>
            <div class="block">
              <h3>Developer</h3>
              <span class="label label-default">EDITION</span>
            </div>
            <div class="block" style="padding-top: 20px">
              <p class="product-usage-description">
                Creado por desarrolladores para desarrolladores
              </p>
            </div>
            <div class="row text-center" style="padding-top:20px">
      <a class="btn btn-warning btn-xl sonarsource-background" style="padding: 10px 18px;font-size: 0.8em;" href="/sonarqube-developer-edition">SOLICITA LICENCIA</a>
    </div>
          </div>
          <div class="col-md-3">
            <div class="block">
              <img height=38px src="/img/sonarsource-products/enterprise-dark.svg" alt="Licencias SonarQube Enterprise Edition">
            </div>
            <div class="block">
              <h3>Enterprise</h3>
              <span class="label label-default">EDITION</span>
            </div>
            <div class="block" style="padding-top: 20px">
              <p class="product-usage-description">
                Diseñado para requisitos Enterprise
              </p>
            </div>
            <div class="row text-center" style="padding-top:20px">
      <a class="btn btn-warning btn-xl sonarsource-background" style="padding: 10px 18px;font-size: 0.8em;" href="/sonarqube-enterprise-edition">SOLICITA LICENCIA</a>
    </div>
          </div>
          <div class="col-md-3">
            <div class="block">
              <img height=38px src="/img/sonarsource-products/datacenter.svg" alt="Licencias SonarQube Data Center Edition">
            </div>
            <div class="block">
              <h3>Data Center</h3>
              <span class="label label-default">EDITION</span>
            </div>
            <div class="block" style="padding-top: 20px">
              <p class="product-usage-description">
                Diseñado para alta disponibilidad 
              </p>
            </div>
            <div class="row text-center" style="padding-top:20px">
      <a class="btn btn-warning btn-xl sonarsource-background" style="padding: 10px 18px;font-size: 0.8em;" href="/sonarqube-datacenter-edition">SOLICITA LICENCIA</a>
    </div>
          </div>
        </div>
      </div>
  </div>
</section>

<section id="servicios-sonarsource" class="features text-center" style="padding: 80px 0;">
  <div class="container">
    <div class="row title;">
      <h2>Preguntas frecuentas (FAQ)</h2>
      <br>
      <p style="font-size: 28px; font-weight: bold;">¿Cómo se integra SonarQube en un pipeline CI/CD?</p>
      <p class="header-text">El análisis de SonarQube se ejecuta mediante SonarScanner ejecutándolo como un paso más del pipeline.</p>
      <br>
      <p style="font-size: 28px; font-weight: bold;">¿Cuáles son las principales métricas que ofrece SonarQube?</p>
      <p class="header-text"> SonarQube proporciona métricas como cobertura de código, duplicaciones, bugs, "code smells" y vulnerabilidades, esenciales para evaluar la salud del software. En el modo MQR de SonarQube estas métricas son atributos de Clean Code indentificados como consistent, intentional, adaptable y responsible.</p>
      <br>
      <p style="font-size: 28px; font-weight: bold;">¿Hay empresas que ofrecen servicios de soporte para SonarQube?</p>
      <p class="header-text">Si, excentia como partner de Sonar ofrece servicios de soporte para mantener actualizadas las instancias de SonarQube y servicios de inspección continua del código con SonarQube.</p>

    </div>
</div>
</section>

<section id="atlassian-articles" class="container text-align-center">
 <h2 class="text-center">Últimos artículos sobre Atlassian</h2>
 <br>
    <p class="header-text">Aquí encontrarás las últimas noticias y guías sobre SonarQube y el ecosistema de Sonar</p>
  <div class="row">
    {% assign sonarqube_posts = site.posts | sort: "date" | reverse %}
    {% assign count = 0 %}
    {% for post in sonarqube_posts %}
      {% if post.categories contains "sonarqube" %}
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="{{ site.baseurl }}{{ post.cover }}" alt="{{ post.title }}" style="height:200px; object-fit:cover; width:100%;">
              <div class="caption">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p>{{ post.excerpt | strip_html | truncate: 100 }}</p>
                <p><small>Publicado el {{ post.date | date: "%d %b %Y" }}</small></p>
                <a href="{{ post.url }}" class="btn btn-primary btn-sm">Leer más</a>
              </div>
          </div>
        </div>
        {% assign count = count | plus: 1 %}
        {% if count == 3 %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</section>


<section id="sonarqube-solicitud" class="text-center">
  <div class="container" style="color: black; background-color:white">
      <div class="col-md-8 col-md-offset-2">
      <h2>Contáctanos</h2>
      <p>¿Quieres pedir presupuesto, recibir más información o no has encontrado el producto que buscabas? Rellena el formulario y te responderemos en meno de 24 horas.</p>
      <br/>
        <form action="https://formspree.io/f/xaygrdqg" method="POST">
          <div class="col-md-12 col-sm-12">
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <input type="text" name="name" class="form-control" placeholder="Tu nombre" id="name" required data-validation-required-message="Por favor escribe tu nombre.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <input type="email" name="email" class="form-control" placeholder="Correo electrónico" id="email" required data-validation-required-message="Por favor escribe tu dirección de correo.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div>
              <input type="text" name="_gotcha" style="display:none"/>
            </div>
            <div class="row control-group">
              <div class="form-group-2 col-xs-12 floating-label-form-group controls">
                <textarea name="message" class="form-control" rows="3" placeholder="Tu mensaje" id="message" required
                          data-validation-required-message="Por favor escribe un mensaje."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <p><strong>excentia</strong> se compromete a respetar tu privacidad, y solo usaremos tu información para proporcionar productos, servicios y contenido que pueda ser de interés para tí.</p>
                <input type="checkbox" name="agreement" class="form-check-input" id="agreement" value="accept" required data-validation-required-message="Por favor lee y acepta la política de privacidad y los términos y condiciones">
                <label class="form-check-label" for="agreement">He leído y acepto la <a href="https://www.excentia.es/privacy" target="_blank">política de privacidad</a> y los <a href="https://www.excentia.es/pdf/excentia-terms-and-conditions.pdf" target="_blank">términos y condiciones</a></label>
              </div>
            </div>
            <div id="success"></div>
            <div class="block">
              <button type="submit" class="btn btn-warning btn-xl">Enviar mensaje</button>
            </div>
          </div>
        </form>
      </div>
</div>
</section>