<section id="awards" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Reconocimientos</h2>
                <hr class="light">
                <h3>El esfuerzo por intentar hacer bien las cosas tiene su recompensa</h3>
            </div>
        </div>
    </div>
</section>


    <section id="awards" class="features">
        <div class="container">
            <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img class="wow bounceIn" width="250px" src="/img/awards/emprenedorxxi.jpg"/>
                                    <h3>VI Edición</h3>
                                    <p class="text-muted">Finalistas de los premios EMPRENDEDOR XXI, en la categoría CRECES XXI.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img class="wow bounceIn" width="130px" src="/img/awards/diapersonaemprendedora.jpg"/>
                                    <h3></h3>
                                    <p class="text-muted">Galardonados con el premio especial del consejo de Cámaras de Comercio de la Comunidad Valenciana.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img class="wow bounceIn" width="290px" src="/img/awards/jovenesemprendedores-2010.png"/>
                                    <h3></h3>
                                    <p class="text-muted">Galardonados en 2010 con uno de los 10 premios nacionales a las empresas de base social.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
