<section id="awards" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Awards</h2>
                <hr class="light">
                <h3>Because doing things right is the best way to get rewards</h3>
            </div>
        </div>
    </div>
</section>


    <section id="awards" class="features">
        <div class="container">
            <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img class="wow bounceIn" width="250px" src="/img/awards/emprenedorxxi.jpg"/>
                                    <h3>VI Edición</h3>
                                    <p class="text-muted">EMPRENDEDOR XXI awards finalists, CRECES XXI category.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img class="wow bounceIn" width="130px" src="/img/awards/diapersonaemprendedora.jpg"/>
                                    <h3></h3>
                                    <p class="text-muted">Awarded with the special prize of the Council of Chambers of Commerce of the Valencian Community.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img class="wow bounceIn" width="290px" src="/img/awards/jovenesemprendedores-2010.png"/>
                                    <h3></h3>
                                    <p class="text-muted">Awarded in 2010 with one of the top 10 national awards.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
