<!-- Portfolio Grid Section -->
    <section id="blog-grid">
        <div class="container">  
            
            {% assign rows = 21 | divided_by: 3.0 | ceil %}
            {% for i in (1..rows) %}
              {% assign offset = forloop.index0 | times: 3 %}
              <div class="row">
                {% for post in site.posts limit:3 offset:offset %}
                  <div class="col-md-4 portfolio-item">
                                <a href="{{ post.url }}" class="list-group-item" style="border: 0px">
                                  <img width="100%" src="{{ post.cover }}"/>
                                  <h5>
                                        <time datetime="{{ post.date | date_to_xmlschema }}">
                                            <span class="day">
                                                {{ post.date | date: "%d" }}
                                            </span>
                                            <span class="month-year">
                                                {% assign m = post.date | date: "%-m" %}
                                                {% case m %}
                                                  {% when '1' %}ENERO
                                                  {% when '2' %}FEBRERO
                                                  {% when '3' %}MARZO
                                                  {% when '4' %}ABRIL
                                                  {% when '5' %}MAYO
                                                  {% when '6' %}JUNIO
                                                  {% when '7' %}JULIO
                                                  {% when '8' %}AGOSTO
                                                  {% when '9' %}SEPTIEMBRE
                                                  {% when '10' %}OCTUBRE
                                                  {% when '11' %}NOVIEMBRE
                                                  {% when '12' %}DICIEMBRE
                                                {% endcase %}
                                                {{ post.date | date: "%Y" }}
                                            </span>
                                        </time>
                                    </h5>
                                    <h3 class="list-group-item-heading" style="text-transform: uppercase"><strong> {{ post.title }} </strong></h3>    
                                    <p class="list-group-item-text" style="padding-bottom: 10px;">{{ post.description | strip_html }}</p>
                                </a>
                            </div>
                {% endfor %}
              </div>
            {% endfor %}
        </div>
    </section>