<!-- Categories Grid Section -->
<section id="categories" style="padding: 0px 0">
  <div class="container">
    <div class="row text-center" style="margin-top: 50px">

      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/archivo-atlassian">
          <div class="block">
            <button type="submit" style="border-radius:4px; color: white;" class="btn btn-warning">atlassian</button>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/archivo-sonarsource">
          <div class="block">
            <button type="submit" style="border-radius:4px; color: white;" class="btn btn-warning">sonarsource</button>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/archivo-calidad">
          <div class="block">
            <button type="submit" style="border-radius:4px; color: white;" class="btn btn-warning">calidad</button>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/archivo-eventos">
          <div class="block">
            <button type="submit" style="border-radius:4px; color: white;" class="btn btn-warning">eventos</button>
          </div>
        </a>
      </div>
    </div>
    <div class="row text-center" style="margin-top: 50px">

      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/archivo-tutorial.html">
          <div class="block">
            <button type="submit" style="border-radius:4px; color: white;" class="btn btn-warning">tutorial</button>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/archivo-devops">
          <div class="block">
            <button type="submit" style="border-radius:4px; color: white;" class="btn btn-warning">devops</button>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/archivo-opinion">
          <div class="block">
            <button type="submit" style="border-radius:4px; color: white;" class="btn btn-warning">opinion</button>
          </div>
        </a>
      </div>

      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/archivo-noticias">
          <div class="block">
            <button type="submit" style="border-radius:4px; color: white;" class="btn btn-warning">noticias</button>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>


