<section id="code-quality-services" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Software Quality <span class="glyphicon glyphicon-leaf"></span></h2>
                <hr class="light">
                <h3>We would like to help you achieve a sustainable software development</h3>
            </div>
        </div>
    </div>
</section>


<section id="code-quality-services" class="features">
        <div class="container">
            <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-search text-primary"></i>
                                    <h3>Continuous Inspection</h3>
                                    <p class="text-muted">Continuous inspection is the new paradigm in code quality management. Continuous Inspection is a holistic, fully-realized process designed to make internal code quality an integral part of the software development life cycle.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-code text-primary"></i>
                                    <h3><em>"Fix the leak"</em></h3>
                                    <p class="text-muted">Forget about the past. Fixing the leak means putting the focus on the “new” code, i.e. the code that was added or changed since the last release. Things then get much easier.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-refresh text-primary"></i>
                                    <h3>Continuous Integration</h3>
                                    <p class="text-muted">
                                        Humans are always making mistakes and we must be able to detect them as soon as possible. Continuous integration helps you to automate build, testing, packaging, code inspection and all the task needed to release a new version.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-code-fork text-primary"></i>
                                    <h3>Source Code Management</h3>
                                    <p class="text-muted">
                                        Or maybe you know it as your source version control (<em>Git</em>, <em>Subversion</em>). No branches, feature branching, release branching, team branching, ... We can help you to design the best strategy for your project.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-cubes text-primary"></i>
                                    <h3>Software Component Management</h3>
                                    <p class="text-muted">
                                        On one side is the source code, and on the other side is the generated packaged product and all its dependencies. You must manage both of them, including your own libraries and third-party libraries. 
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-graduation-cap text-primary"></i>
                                    <h3>Test Automation</h3>
                                    <p class="text-muted">
                                        Using our own testing framework (or using a third-party solution) we can help you to reduce time, increase test coverage and improve your testing strategy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="icon-badge text-primary"></i>
                                    <h3>Certification</h3>
                                    <p class="text-muted">
                                        Because code quality must be certified against standards. Using quality models like SQALE, CISQ or ISO 25000 your software could be recognized with well-known quality certificate.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-graduation-cap text-primary"></i>
                                    <h3>Training</h3>
                                    <p class="text-muted">
                                        Software Development best practises, tools, continuous inspection, continuous integration, continuous deployment, unit testing, ... We love to transfer our knowledge.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-trophy text-primary"></i>
                                    <h3>Gamification</h3>
                                    <p class="text-muted">
                                        Because code quality improvement is boring. If you see it like a game then your team will be motivated and will enjoy fixing bugs.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</section>
