<footer id="contact">
    <div class="footer-above">
        <div class="container">
                <div class="row text-left">
                    <div class="footer-col col-md-4 text-left">
                        <p class="footer-text">
                            <img width=100px src="/img/excentia/logo-excentia-fondo-transparente-sineslogan.png" alt="excentia">
                        </p>
                    </div>
                </div>
                <div class="row text-left">
                    <div class="footer-col col-md-4 text-left">
                        <p class="footer-text">
                            C/GRABADOR ESTEVE 15<br>
                            46004 VALENCIA (SPAIN)<br><br>
                            <i class="fa fa-phone"></i> +34 963 254 808<br><br>
                            INFO@EXCENTIA.ES
                        </p>
                    </div>
                    <div class="footer-col col-md-2 text-left">
                        <p class="footer-text">
                            <a href="nosotros"><strong>About</strong></a>
                        </p>
                    </div>
                    <div class="footer-col col-md-2 text-left">
                        <p class="footer-text">
                            <a href="servicios"><strong>Services</strong></a>
                        </p>
                    </div>
                    <div class="footer-col col-md-2 text-left">
                        <p class="footer-text">
                            <a href="atlassian"><strong>Atlassian</strong></a>
                        </p>
                        <p class="footer-text">
                            <a href="sonarsource"><strong>SonarSource</strong></a>
                        </p>
                    </div>
                    <div class="footer-col col-md-2 text-left">
                        <p class="footer-text">
                            <a href="contacto"><strong>Contact</strong></a>
                        </p>
                        <p class="footer-text">
                            <a target="_blank" href="https://excentia.atlassian.net/servicedesk/customer/portal/14"><strong>Support</strong></a>
                        </p>
                        <p class="footer-text">
                            <a href="blog"><strong>Blog</strong></a>
                        </p>
                    </div>

                </div>
        </div>
    </div>
    <div style="padding-top: 25px"></div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4 text-center">
                    <a href="/img/certs/aenor-iso-9000-full.png" target="_blank"><img style="margin-right: 10px" width="70px" src="/img/certs/aenor-iso-9000.png"></a>
                    <a href="/img/certs/iqnet-certified-full.png" target="_blank"><img width="60px" src="/img/certs/iqnet-certified.png"></a>
                </div>
                <div class="footer-col col-md-4 text-center">
                    <p>&copy; 2025 - excentia</p>
                    <ul class="list-inline">
                        <li>
                            <a href="/legal">Legal Notice</a>
                        </li>
                        <li>
                            <a href="/en/privacy">Privacy</a>
                        </li>
                        <li>
                            <a href="/en/cookies">Cookies</a>
                        </li>
                        <li>
                            <a href="javascript:CookieConsent.showPreferences()">Cookies Settings</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4 text-center">
                    <ul class="list-inline">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" class="btn-social"><i class="fa fa-fw fa-{{ network.title }} fa-2x"></i></a>
                        </li>
                        {% endfor %}
                        <li>
                            <a href="https://eepurl.com/dJkEiv" target="_blank" class="btn-social"><i class="fa fa-fw fa-envelope fa-2x"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>


