<footer id="contact">
    <div class="footer-above">
        <div class="container">
                <div class="row text-left">
                    <div class="footer-col col-md-2">
                        <strong>About us</strong>
                        <ul style="list-style-type: none;">
                            <li><a class="page-scroll" href="/en/#vision">Vision</a></li>
                            <li><a class="page-scroll" href="/en/#values">Values</a></li>
                            <li><a class="page-scroll" href="/en/#awards">Awards</a></li>
                            <li><a class="page-scroll" href="/en/#testimonial">Testimonials</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-2">
                        <strong>Products</strong>
                        <ul style="list-style-type: none;">
                            <li><a class="page-scroll" href="/en/#atlassian-products">Atlassian</a></li>
                            <li><a class="page-scroll" href="/en/#sonarsource-products">SonarSource</a></li>
                        </ul>
                        <br>
                        <strong>Services</strong>
                        <ul style="list-style-type: none;">
                            <li><a class="page-scroll" href="/en/#code-quality-services">Software Quality</a></li>
                            <li><a class="page-scroll" href="/en/#process-quality-services">Process Quality</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-2">
                        <strong>Atlassian Apps</strong>
                        <ul style="list-style-type: none;">
                            <li><a href="/en/sonarqube-connector-jira">SQ Connector for Jira</a></li>
                            <li><a href="/en/sonarqube-connector-confluence">SQ Connector for Confluence</a></li>
                            <li><a href="/en/issue-picker">Issue Picker</a></li>
                            <li><a href="/en/traceabilityx">TraceabilityX</a></li>
                            <li><a href="/en/time-tracking-stats">Time Tracking Stats</a></li>
                            <li><a href="/en/cards">Cards</a></li>
                            <li><a href="/en/debt-tracker">Project Health Monitor</a></li>
                            <li><a href="/en/3d-issues-map">3D Issues Map</a></li>
                            <li><a href="/en/excentia-admin-tools">Admin Tools</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-2">
                        <strong>SonarQube Plugins</strong>
                        <ul style="list-style-type: none;">
                            <li><a href="/en/3d-code-metrics">3D Code Metrics</a></li>
                            <li><a href="https://github.com/SonarQubeCommunity/sonar-l10n-es">Spanish Pack</a></li>
                        </ul>
                        <strong>Blog</strong>
                        <ul style="list-style-type: none;">
                            <li><a href="/en/blog/#blog-grid">Posts</a></li>
                            <li><a href="/en/blog/#news-grid">News</a></li>
                        </ul>
                        <strong>Partners</strong>
                        <ul style="list-style-type: none;">
                            <li><a class="page-scroll" href="/en/atlassian">Atlassian Gold</a></li>
                            <li><a class="page-scroll" href="/en/sonarsource">SonarSource partner</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4 text-center">
                        <span id="support-button" class="btn btn-outline-white btn-xl" >Contact Us</span>&nbsp;<a target="_new" href="{{ site.support_url }}" class="btn btn-outline-white btn-xl text-center" >Support</a>
                        <p class="btn btn-xl" style="color: white; text-align:left; cursor:default">
                            excentia<br>
                            Grabador Esteve 15<br>
                            46004, Valencia<br><br>
                            <i class="fa fa-phone"></i> +34 963 254 808‬<br><br>
                            <a href="mailto:info@excentia.es">info@excentia.es</a>
                        </p>
                    </div>
                </div>
        </div>
    </div>
    <div style="padding-top: 25px"></div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4 text-center">
                    <a href="/img/certs/aenor-iso-9000-full.png" target="_blank"><img style="margin-right: 10px" width="30px" src="/img/certs/aenor-iso-9000.png"></a>
                    <a href="/img/certs/iqnet-certified-full.png" target="_blank"><img width="60px" src="/img/certs/iqnet-certified.png"></a>
                    <a href="https://sede.micinn.gob.es/pyiINFO/buscarPyi.mec?org.apache.struts.taglib.html.TOKEN=ffc25ad29e025e8631816f00aebe2739&nif=B98184807&razonSocial=&ccaa=&nifHidden=B98184807&ccaaHidden=&razonSocialHidden=&nuevoFiltro=NO&buscarPulsado=SI&excelPulsado=NO" target="_blank"><img width="80px" src="/img/certs/sello_pyme_innovadora_2018_es.png"></a>
                </div>
                <div class="footer-col col-md-4 text-center">
                    <p>&copy; 2020 - excentia</p>
                    <ul class="list-inline">
                        <li>
                            <a href="/legal">Legal</a>
                        </li>
                        <li>
                            <a href="/privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4 text-center">
                    <ul class="list-inline">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" class="btn-social"><i class="fa fa-fw fa-{{ network.title }} fa-2x"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
