<section id="grants" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Ayudas y subvenciones</h2>
                <hr class="light">
                <h3>Apostamos por el I+D colaborando en múltiples proyectos</h3>
            </div>
        </div>
    </div>
</section>


    <section id="awards" class="features">
        <div class="container">
            <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img class="wow bounceIn" width="140px" src="/img/grants/icexnext-logo.jpg"/>
                                    <h3></h3>
                                    <p class="text-muted">Es un programa dirigido a pymes españolas que deseen internacionalizar su negocio y/o consolidar su presencia en el exterior. ICEX Next combina el asesoramiento personalizado y experto para el diseño y ejecución del Plan de Negocio Internacional de la empresa con apoyo económico para impulsar la promoción exterior y la presencia en los mercados seleccionados.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img class="wow bounceIn" width="130px" src="/img/grants/cdti-logo.png"/>
                                    <h3></h3>
                                    <p class="text-muted">El objetivo general del proyecto es el desarrollo de una completa plataforma inteligente y autónoma para la gestión automática e integral de las entregas y la calidad del software en una organización con el máximo nivel de compromiso y basada en el modelo “calidad como servicio – QaaS – Quality as a Servcie”, ofreciéndolo a través de la nube.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img class="wow bounceIn" width="140px" src="/img/grants/avanza-logo.png"/>
                                    <h3></h3>
                                    <p class="text-muted">Desarrollo de un producto de base tecnológica mediante la creación de una plataforma online a través de internet que integre todas las prestaciones y bases de datos para la gestión e inteligencia energética y el mantenimiento de las instalaciones generadoras de energía de edificios, infraestructuras e industrias; así como la realización y financiación de proyectos de mejora de la eficiencia energética y de aprovechamiento de energías renovables.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
