<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        
                        <div style="display: inline-block;">
                            <h2>We offer the leading quality solutions for software development and project and process management</h2>
                        </div>
                        
                        <div style="display: block; width: 100%; padding-top: 30px; padding-bottom: 50px">
                            <img style="max-width: 300px; width: 100%; padding-bottom: 20px" src="/img/excentia/logo-experts.png"/>
                            <div style="width: 100%; padding-left: 10px">
                                <img style="max-width: 290px;" src="/img/excentia/logo-sonarsource.png"/>
                                <h4 style="font-size: 14px; margin:auto;">Official Partner on-exclusive basis in Spain</h4>
                                <h4 style="font-size: 14px; margin:auto;">Official Partner in Latin-America</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="device-container">
                    <img src="/img/excentia/logo-triangulos.png" class="img-responsive" alt="">
                </div>

            </div>
            
        </div>
    </div>
</header>
