    
    <section id="blog-title" class="download bg-primary text-center" style="padding: 50px 0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">News from excentia</h2>
                    <hr class="light">
                    <h3>
                        Welcome to our news section. Unfortunately right now the blog posts are written in Spanish.<br><br>
                        You will be redirected to the Spanish website by clicking any of the links below.
                    </h3>
                </div>
            </div>
        </div>
    </section>
