
<header>
  <div class="container">

<!--
    
<video autoplay muted loop style=" position: fixed;right: 0;bottom: 0;min-width: 100%;opacity:0.5">
<source src="/img/video/video-office.mp4" type="video/mp4">
</video>
-->

    <div class="row">
      <div class="col-sm-7">
        <div class="header-content" style="height: 100vh;">
          <div class="header-content-inner">

            <div style="display: inline-block;">
              <h1 style="color:#000; font-weight: 700">Consultoría y <br/>Formación </h2>
              <h2 style="color:#000; font-weight: 500">Somos especializados en servicios de aseguramiento y gestión de la calidad del software, de los procesos y cultura DevOps</h2>
            </div>


            <div style="display: inline-block;">
              <a href="atlassian">
                <img style="float:left; max-width: 400px; width: 50%; padding: 10px"
                     src="/img/excentia/logo-atlassian-gold.png"/>
              </a>
              <a href="#atlassian-addons">
                <img style="float:right; max-width: 400px; width: 50%; padding: 10px"
                     src="/img/excentia/silver-marketplace-partner-logo-blue.png"/>
              </a>
            </div>
            <div style="display: inline-block; margin-left: 25px">
              <a href="sonarsource">
                <img style="max-width: 200px; padding-bottom: 10px" alt="sonarsource partner"
                     src="/img/excentia/logo-sonarsource.png"/>
              </a>
              <h4 style="font-size: 14px; margin:auto;">Partner exclusivo en España</h4>
              <h4 style="font-size: 14px; margin:auto;">Partner en Latinoamérica</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="device-container">

        </div>
      </div>
    </div>
  </div>
</header>
