
<header>
  <div class="container">

    <video autoplay muted loop style="position: fixed; right:0; bottom:0;width:100%;height:100%;opacity:0.3;z-index:-100;object-fit: cover;">
      <source src="/img/video/video-office.mp4" type="video/mp4">
    </video>

    <div class="row">
      <div class="col-sm-9">
        <div class="header-content" style="height: 100vh;">
          <div class="header-content-inner">
            <div style="display: inline-block;">
              <h1 style="color:#000; font-weight: 690">Your improvement, our motivation</h1>
              <p class="main-header-text text-left">Specialists in software quality management and assurance services, DevOps processes and culture</p>
            </div>
            <div style="display: inline-block;">
              <a href="atlassian">
                <img style="float:left; max-width: 400px; width: 50%; padding: 10px"
                     src="/img/excentia/logo-atlassian-gold.png"/ alt="excentia is Atlassian Gold Partner">
              </a>
              <a href="#atlassian-addons">
                <img style="float:right; max-width: 400px; width: 50%; padding: 10px"
                     src="/img/excentia/silver-marketplace-partner-logo-blue.png"/ alt="excentia is Silver Marketplace Partner">
              </a>
            </div>
            <div style="display: inline-block; margin-left: 25px">
              <a href="sonarsource">
                <img style="max-width: 200px; padding-bottom: 10px" alt="sonarsource partner"
                     src="/img/excentia/logo-new-sonar.png"/>
              </a>
              <h4 style="font-size: 14px; margin:auto;">Official Partner on-exclusive basis in Spain</h4>
              <h4 style="font-size: 14px; margin:auto;">Official Partner in Latin-America</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
