<header style="
    background: $head-primary;
    background: -webkit-linear-gradient(to left, #f9a600, #0052cc);
    background: linear-gradient(to left, #f9a600, #0052cc);">
    <div class="container" style="background-image: url(/img/product-background-header.png)">
        <div class="row">
                <div class="header-content">
                    <div class="header-content-inner">
                        
                        <div class="text-center" style="display: block; width: 100%; padding-top: 0px; padding-bottom: 50px;">
                            <img style="max-width: 650px; width: 100%; padding: 10px" src="/img/excentia/atlassian.png"/>
                        </div>

                        <div class="text-center" style="display: inline-block; padding-top: 30px; color: white">
                            <h1>Te ayudamos a mejorar la productividad de tus equipos</h1>
                        </div>
                        
                        <div class="text-center" style="display: block; width: 100%; padding-top: 0px; padding-bottom: 50px;">
                            <img style="max-width: 350px; width: 100%; padding: 10px" src="/img/excentia/logo-atlassian-gold-grey.png"/>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</header>
