<header class="site-hero site-hero-product site-hero-atlassian">
    <div class="container site-hero-pattern">
        <div class="row">
                <div class="header-content site-hero-content">
                    <div class="header-content-inner site-hero-panel site-hero-panel-product">
                        
                        <div class="text-center site-hero-brand">
                            <img class="site-hero-brand-image" src="/img/excentia/atlassian.png"/>
                        </div>

                        <div class="text-center site-hero-title site-hero-title-light">
                            <h1>Te ayudamos a mejorar la productividad de tus equipos</h1>
                        </div>
                        
                        <div class="text-center site-hero-brand">
                            <img class="site-hero-badge-image" src="/img/excentia/logo-atlassian-gold-grey.png"/>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</header>
