<section id="eventos-cabecera" class="bg-primary text-center">
  <div class="container">
    <div class="row title">
      <h2>Artículos y noticias</h2>
    </div>
    <div class="row">
      <div class="col-md-6 text-left">
        <p class="header-text">
          Bienvenidos a nuestro espacio de noticias y opinión.
        </p>
        <p class="header-text">
            Aquí hablamos sobre la cultura Agile y de las últimas noticias del mundo Atlassian, SonarSource, DevOps.
        </p>
        <p class="header-text">
        Y si no quieres perderte nada suscríbete a nuestra newsletter.
        </p>
        <p>
         <a href="https://eepurl.com/dJkEiv" target="_blank" class="btn btn-outline btn-l">Suscríbete a nuestra newsletter</a>
        </p>
      </div>
      <div class="col-md-6">
        <img width="85%"
             src="/img/posts/blog-excentia-articulos-noticias-sonarsource-atlassian-devops-agile.png" alt="Blog excentia">
      </div>
    </div>
  </div>
</section>


