<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        
                        <div style="display: inline-block;">
                            <h2>Ofrecemos las mejores y más competitivas soluciones de calidad, tanto para el desarrollo de software como para la gestión de procesos</h2>
                        </div>
                        
                        <div class="text-left" style="display: block; width: 100%; padding-top: 30px; padding-bottom: 50px;">
                            <a href="atlassian">
                                <img style="max-width: 450px; width: 100%; padding: 10px" src="/img/excentia/logo-atlassian-gold.png"/>
                            </a>
                                <div style="width: 100%; padding-top: 20px; padding-left: 10px">
                                    <a href="sonarsource">
                                        <img style="max-width: 290px; padding-bottom: 10px" alt="sonarsource partner" src="/img/excentia/logo-sonarsource.png"/>
                                    </a>
                                    <h4 style="font-size: 19px; margin:auto;">Partner exclusivo en España</h4>
                                    <h4 style="font-size: 19px; margin:auto;">Partner en Latinoamérica</h4>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="device-container wow bounceInUp">
                    <img src="/img/excentia/logo-triangulos.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</header>
