<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2><strong>Lo sentimos. Hemos intentando encontrar lo que buscas pero no podemos mostrarte nada.</strong></h2>
                        <h2>Asumimos nuestra parte de culpa pero por favor, no nos abandones y navega a través de la barra superior.</h2>
                        <hr></hr>
                        <h2><strong>Sorry! We couldn't find what you are looking for.</strong></h2>
                        <h2>It's our fault but please, don't go away! Try to browse throught the top navigation bar.</h2>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="device-container">
                        <div class="col-lg-12 portfolio-item" style="padding-bottom: 5px;">
                        </div>
                </div>

            </div>
            
        </div>
    </div>
</header>
