    
    <section id="blog-title" class="download bg-primary text-center" style="padding: 50px 0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Artículos y noticias</h2>
                    <hr class="light">
                    <h4>Bienvenidos a nuestro espacio de noticias y opinión. El conocimiento es sólo una de las representaciones de la existencia</h4>
                    <a href="http://eepurl.com/dJkEiv" target="_blank" class="btn btn-outline btn-xl">Suscríbete a nuestra newsletter</a>
                </div>
            </div>
        </div>
    </section>
