<section id="blog-title" class="bg-primary text-center">
  <div class="container">
    <div class="row title">
      <h2>News</h2>
    </div>
    <div class="row">
      <div class="col-md-6 text-left">
        <p class="header-text">
          Welcome to our news section.
        </p>
        <p class="header-text">
            Here we talk about Agile culture and the latest news from the Atlassian world, SonarSource, DevOps.</p>
        </p>
        <p class="header-text">
        And if you don't want to miss anything, subscribe to our newsletter.
    </p>
         <a href="https://eepurl.com/dJkEiv" target="_blank" class="btn btn-outline">Suscribe to the newsletter</a>
        </p>
        <br/>
      </div>
      <div class="col-md-6">
        <img width="85%"
             src="/img/posts/blog-excentia-articulos-noticias-sonarsource-atlassian-devops-agile.png" alt="Blog excentia">
      </div>
    </div>
  </div>
</section>


