<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/excentia/logo-con-texto.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown">                
                  <a href="#" class="page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="page-scroll" href="#vision">Vision</a></li>                    
                    <li><a class="page-scroll" href="#values">Values</a></li>
                    <li><a class="page-scroll" href="#awards">Awards</a></li>                    
                    <li><a class="page-scroll" href="#testimonial">Testimonials</a></li>                    
                  </ul>

                </li>
                

                <li class="dropdown">                
                  <a href="#" class="page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="page-scroll" href="#atlassian-addons">Atlassian Apps</a></li>
                    <li><a class="page-scroll" href="#sonarqube-plugins">SonarQube Plugins</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="page-scroll" href="#atlassian-products">Atlassian</a></li>
                    <li><a class="page-scroll" href="#sonarsource-products">SonarSource</a></li>
                    
                  </ul>
                </li>
                
                <li class="dropdown">                
                  <a href="#" class="page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="page-scroll" href="#code-quality-services">Software Quality</a></li>
                    <li><a class="page-scroll" href="#process-quality-services">Process Quality</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="page-scroll" href="#atlassian">Atlassian Experts</a></li>
                    <li><a class="page-scroll" href="#sonarsource">SonarSource Partners</a></li>
                    <li><a class="page-scroll" href="#security">R3 Cybersecurity</a></li>                      
                  </ul>

                </li>
                
                <li>
                    <a href="blog/">Blog</a>
                </li>
                
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                
                <li>
                    <a class="page-scroll" href="/">es</a> 
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
