<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/#page-top"><img width="100px" src="/img/header-logo.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown">                
                  <a href="#" class="page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nosotros<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="page-scroll" href="/#vision">Nuestra Visión</a></li>                    
                    <li><a class="page-scroll" href="/#values">Valores</a></li>
                    <li><a class="page-scroll" href="/#quality-policy">Política de calidad</a></li>
                    <li><a class="page-scroll" href="/eventos">Eventos</a></li> 
                    <li><a class="page-scroll" href="/#awards">Reconocimientos</a></li>                    
                    <li><a class="page-scroll" href="/#testimonial">Casos de éxito</a></li>
                    <li><a class="page-scroll" href="/empleo">Únete al equipo</a></li>
                  </ul>

                </li>
                

                <li class="dropdown">                
                  <a href="#" class="page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="page-scroll" href="/#atlassian-addons">Atlassian Apps</a></li>
                    <li><a class="page-scroll" href="/#sonarqube-plugins">SonarQube Plugins</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="page-scroll" href="/#atlassian-products">Atlassian</a></li>
                    <li><a class="page-scroll" href="/#sonarsource-products">SonarSource</a></li>
                    
                  </ul>
                </li>
                
                <li class="dropdown">                
                  <a href="#" class="page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="page-scroll" href="/#code-quality-services">Calidad de Software</a></li>
                    <li><a class="page-scroll" href="/#process-quality-services">Calidad de Procesos</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="page-scroll" href="/sonarsource">SonarSource Partner</a></li>
                    <li><a class="page-scroll" href="/atlassian">Atlassian Gold Solution Partner</a></li>
                    <li><a class="page-scroll" href="/servicios-soporte-atlassian">Atlassian Servicios de Soporte</a></li>
                    <li><a class="page-scroll" href="/servicios-cloud-atlassian">Atlassian Migración a Cloud</a></li>
                    <li><a class="page-scroll" href="/atlassian-data-center">Atlassian Data Center</a></li>
                  </ul>

                </li>
                
                <li>
                    <a href="/blog">Blog</a>
                </li>
                
                <li>
                    <a class="page-scroll" href="/contacto">Contacto</a>
                </li>
                
                <li>
                    <a class="page-scroll" href="/en">en</a> 
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
