<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/"><img width="125px" src="/img/header-logo.png" alt="Logotipo nav"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a href="#" class="page-scroll dropdown-toggle" data-hover="dropdown" data-animations="fadeIn fadeIn fadeIn fadeIn" role="button" aria-haspopup="true" aria-expanded="false">Nosotros<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="page-scroll" href="/nosotros">Quiénes somos</a></li>
            <li><a class="page-scroll" href="/politica-calidad">Política de calidad</a></li>
            <li><a class="page-scroll" href="/casos-de-exito">Casos de éxito</a></li>
            <li><a class="page-scroll" href="/eventos">Eventos</a></li>
            <li><a class="page-scroll" href="/empleo">Únete al equipo</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="page-scroll dropdown-toggle" data-hover="dropdown" data-animations="fadeIn fadeIn fadeIn fadeIn" role="button" aria-haspopup="true" aria-expanded="false">Servicios<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="page-scroll" href="/servicios">Qué hacemos</a></li>
            <li><a class="page-scroll" href="/calidad-de-software">Calidad de Software</a></li>
            <li><a class="page-scroll" href="/calidad-de-procesos">Calidad de Procesos</a></li>
            <li><a class="page-scroll" href="/formacion">Formación y Cursos</a></li>
            <li><a class="page-scroll" href="/formacion-empresas">Formación Empresas</a></li>
            <li><a class="page-scroll" href="/guias">Guías Gratuitas</a></li>
            <li><a class="page-scroll" href="/kit-digital">Kit Digital</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="page-scroll dropdown-toggle" data-hover="dropdown" data-animations="fadeIn fadeIn fadeIn fadeIn" role="button" aria-haspopup="true" aria-expanded="false">Atlassian<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="page-scroll" href="/atlassian">¿Búscas un partner de Atlassian?</a></li>
            <li><a class="page-scroll" href="/atlassian#atlassian-marketplace">Atlassian Apps</a></li>
            <li><a class="page-scroll" href="/atlassian#servicios-atlassian">Servicios</a></li>
            <li><a class="page-scroll" href="/licencias-atlassian">Gestión Licencias</a></li>
            <li><a class="page-scroll" href="/soporte-atlassian">Soporte Atlassian</a></li>
            <li><a class="page-scroll" href="migracion-atlassian-cloud">Migración Atlassian Cloud</a></li>
            <li><a class="page-scroll" href="/soporte-atlassian#servicios-atlassian-cloud">Servicios Atlassian Cloud</a></li>
            <li><a class="page-scroll" href="/atlassian-data-center">Data Center </a></li>          

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="page-scroll dropdown-toggle" data-hover="dropdown" data-animations="fadeIn fadeIn fadeIn fadeIn" role="button" aria-haspopup="true" aria-expanded="false">SonarSource<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="page-scroll" href="/sonarsource">Partner SonarSource</a></li>
            <li><a class="page-scroll" href="/sonarsource#productos-sonarsource">Productos</a></li>
            <li><a class="page-scroll" href="/sonarsource#servicios-sonarsource">Servicios</a></li>
            <li><a class="page-scroll" href="/sonarsource#ediciones-sonarsource">Planes para desarrolladores</a></li>
            <li><a class="page-scroll" href="/formacion">Cursos SonarQube</a></li>
            <li><a class="page-scroll" href="/sonarsource#sonarqube-plugins">SonarQube Plugins</a></li>
          </ul>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <div style="padding-top: 7px">
            <a class="btn btn-warning" style="font-size: 11px; letter-spacing: 1px;line-height:20px" href="/contacto">Contactar</a>
          </div>
        </li>
        <li>
          <a href="/en">en</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
  
  <div class="container">
   <br>
    <p class="text-align-center" style="font-weight: bold;">Webinar: <a href="https://survs.com/survey/kwwsxgr3yf" style="color:#39057b;"> Las 3 mejores prácticas para reducir costes e impulsar el desarrollo del software - 11 de junio</a></p>
  </div>
</section>
</nav>
