<nav id="mainNav" class="site-navbar" aria-label="Principal">
  <div class="container">
    <div class="site-navbar-shell">
      <a class="site-navbar-brand" href="/">
        <img width="125" src="/img/header-logo.png" alt="Logotipo nav">
      </a>

      <button
        class="site-navbar-toggle"
        type="button"
        aria-expanded="false"
        aria-controls="site-navbar-menu-es"
        data-site-nav-toggle>
        <span class="sr-only">Toggle navigation</span>
        <span class="site-navbar-toggle-icon" aria-hidden="true">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      <div class="site-navbar-menu" id="site-navbar-menu-es" data-site-nav-menu>
        <ul class="site-navbar-links" role="list">
          <li class="site-navbar-item site-navbar-item--dropdown" data-site-dropdown>
            <button
              class="site-navbar-link site-navbar-link--toggle"
              type="button"
              aria-expanded="false"
              data-site-dropdown-toggle>
              Nosotros
              <span class="site-navbar-caret" aria-hidden="true"></span>
            </button>
            <ul class="site-navbar-dropdown" role="list">
              <li><a class="site-navbar-dropdown-link" href="/nosotros">Quiénes somos</a></li>
              <li><a class="site-navbar-dropdown-link" href="/casos-de-exito">Casos de éxito</a></li>
              <li><a class="site-navbar-dropdown-link" href="/politica-calidad">Política de calidad</a></li>
              <li><a class="site-navbar-dropdown-link" href="/politica-seguridad">Política de seguridad</a></li>
              <li><a class="site-navbar-dropdown-link" href="/eventos">Eventos</a></li>
              <li><a class="site-navbar-dropdown-link" href="/empleo">Únete al equipo</a></li>
            </ul>
          </li>
          <li class="site-navbar-item site-navbar-item--dropdown" data-site-dropdown>
            <button
              class="site-navbar-link site-navbar-link--toggle"
              type="button"
              aria-expanded="false"
              data-site-dropdown-toggle>
              Atlassian
              <span class="site-navbar-caret" aria-hidden="true"></span>
            </button>
            <ul class="site-navbar-dropdown" role="list">
              <li><a class="site-navbar-dropdown-link" href="/atlassian">Sobre Atlassian</a></li>
              <li><a class="site-navbar-dropdown-link" href="/atlassian#colecciones-atlassian">Colecciones</a></li>
              <li><a class="site-navbar-dropdown-link" href="/atlassian#productos-atlassian">Productos</a></li>
              <li><a class="site-navbar-dropdown-link" href="/atlassian#servicios-atlassian">Servicios</a></li>
              <li><a class="site-navbar-dropdown-link" href="/curso-jira-confluence-cloud-usuarios">Formación</a></li>
              <li><a class="site-navbar-dropdown-link" href="/guias">Recursos</a></li>
            </ul>
          </li>
          <li class="site-navbar-item site-navbar-item--dropdown" data-site-dropdown>
            <button
              class="site-navbar-link site-navbar-link--toggle"
              type="button"
              aria-expanded="false"
              data-site-dropdown-toggle>
              Sonar
              <span class="site-navbar-caret" aria-hidden="true"></span>
            </button>
            <ul class="site-navbar-dropdown" role="list">
              <li><a class="site-navbar-dropdown-link" href="/sonarsource">Sobre Sonar</a></li>
              <li><a class="site-navbar-dropdown-link" href="/sonarsource#soluciones">Soluciones</a></li>
              <li><a class="site-navbar-dropdown-link" href="/sonarsource#servicios">Servicios</a></li>
              <li><a class="site-navbar-dropdown-link" href="/formacion-sonarqube">Formación</a></li>
              <li><a class="site-navbar-dropdown-link" href="/guias-sonarqube">Recursos</a></li>
            </ul>
          </li>
          <li class="site-navbar-item">
            <a class="site-navbar-link" href="/apps-atlassian-marketplace">Apps</a>
          </li>
          <li class="site-navbar-item">
            <a class="site-navbar-link" href="/blog">Blog</a>
          </li>
        </ul>

        <div class="site-navbar-actions">
          <a class="btn btn-warning site-navbar-cta" href="/contacto">Contactar</a>
          <a class="site-navbar-lang" href="/en">en</a>
        </div>
      </div>
    </div>
  </div>
</nav>
