<section id="newsletter" class="bg-primary text-center site-newsletter">
  <div class="container">
    <div class="row site-newsletter-row">
      <div class="block">
        <div class="col-md-12 text-center site-newsletter-copy">
          <h3>Receive the latest news about our products and services directly to your inbox</h3>
        </div>
      </div>
    </div>
    <div class="row site-newsletter-row">
      <div class="col-md-12 text-center site-newsletter-actions">
        <form action="https://eepurl.com/dJkEiv" method="get" target="_blank" name="newsletter-signup-form" id="newsletter-signup-form" novalidate class="site-newsletter-form">
          <div class="site-newsletter-group">
            <div class="block">
              <button type="submit" class="btn btn-warning site-newsletter-button">SIGN UP</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
