<section id="newsletter" class="bg-primary text-center" style="padding: 50px 0">
  <div class="container">
    <div class="row">
      <div class="block">
        <div class="col-md-12 text-center">
          <h3>Recibe las últimas novedades sobre nuestros productos y servicios directamente en tu bandeja de entrada</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center" style="padding-top: 20px">
        <form action="https://eepurl.com/dJkEiv" method="get"  target="_blank" name="newsletter-signup-form" id="newsletter-signup-form" novalidate>
          <div class="row control-group">
            <div class="form-group floating-label-form-group" style="padding-left:0px;">
              <div class="block">
                <button type="submit" style="border-radius:4px; color: white;" class="btn btn-warning">SUSCRIBIRME</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
