<section id="newsletter" class="bg-primary text-center" style="padding: 50px 0">
  <div class="container">
    <div class="row">
      <div class="block">
        <div class="col-md-6 text-left">
          <h3>Recibe las últimas novedades sobre nuestros productos y servicios directamente en tu bandeja de entrada</h3>
        </div>
        <div class="col-md-6 text-left" style="padding-top: 20px">
          <form action="/newsletter-thank-you-page" method="get" name="newsletter-signup-form" id="newsletter-signup-form" novalidate>

            <div class="row control-group">
              <div class="form-group col-xs-8 floating-label-form-group controls" style="padding-right:0px;">
                <input type="email" name="customerEmail" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="El email tiene que ser válido">
                <div id="success"></div>
              </div>
              <div class="form-group col-xs-4 floating-label-form-group" style="padding-left:0px;">
                <div class="block">
                  <button type="submit" style="border-radius:4px; color: white;" class="btn btn-warning">Enviar</button>
                </div>
              </div>
            </div>
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <p style="font-size: 12px">Al suscribirte aceptas nuestra <a target="_blank" href="/privacy">política de privacidad</a></p>
            </div>
          </form>
        </div>
      </div>
  </div>
</section>
