<section id="atlassian-addons" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading"><img width="350px" style="padding-bottom: 5px;" src="/img/excentia/atlassian.png"/> apps <i class="fa fa-puzzle-piece"></i></h2>
                <hr class="light">
                <h3>Our products are made with love thanks to our customer feedback for innovation and continuous improvement</h3>
            </div>
        </div>
    </div>
</section>


<section id="atlassian-addons" class="features">
        <div class="container">
            <div class="row">
                
            </div>
            <div class="row">
                    <div class="container-fluid">
                        <!-- ********************************* -->
                        <div class="row">
                            <div class="col-md-4">
                                <a href="sonarqube-connector-jira" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/sonarqube-connector-jira.png"/>
                                    <h3>SonarQube Connector for Jira</h3>
                                    <p class="text-muted">SonarQube and Jira, better together! Code quality in your Jira project tab panel!</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="sonarqube-connector-confluence" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/sonarqube-connector-confluence.png"/>
                                    <h3>SonarQube Connector for Confluence</h3>
                                    <p class="text-muted">SonarQube and Confluence for better collaboration. Your code quality available in Confluence for all your teams!</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="issue-picker.html" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/issue-picker.png"/>
                                    <h3>Issue Picker Custom Field</h3>
                                    <p class="text-muted">A new custom field type to link issues</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- ********************************* -->
                        <div class="row">
                            <div class="col-md-4">
                                <a href="traceabilityx.html" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/traceabilityx.png"/>
                                    <h3>TraceabilityX</h3>
                                    <p class="text-muted">Trace your issue types and their relations. Display the relations in several ways (matrix, table, ...)</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="time-tracking-stats.html" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/time-tracking-stats.png"/>
                                    <h3>Time Tracking Stats for Jira</h3>
                                    <p class="text-muted">The fastest and easiest way for teams and project time tracking</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="cards.html" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/cards.png"/>
                                    <h3>Cards for Jira</h3>
                                    <p class="text-muted">Kanbanize your JIRA projects and processes. Visual Management and Agile made easy</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- ********************************* -->
                        <div class="row">
                            <div class="col-md-4">
                                <a href="debt-tracker.html" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/debt-tracker.png"/>
                                    <h3>Project Health Monitor for Jira</h3>
                                    <p class="text-muted">Bringing the technical debt metaphor to project management in JIRA</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="3d-issues-map.html" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/3d-issues-map.png"/>
                                    <h3>3D Issues Map</h3>
                                    <p class="text-muted">Visualization comes to the rescue. Display your JIRA issues like never before.</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div> 
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="excentia-admin-tools" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/excentia-admin-tools.png"/>
                                    <h3>excentia Admin Tools for Jira</h3>
                                    <p class="text-muted">Tools to help and improve Jira administrators tasks</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
