<section id="sonarqube-plugins" class="download bg-primary text-center"
         style="padding: 50px 0; background:#000;	color:#fff;">
<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">SonarQube Plugins <i class="fa fa-plug"></i></h2>
                <hr class="light">
                <h3>New metrics, new quality models, new ways to manage your code quality</h3>
            </div>
        </div>
    </div>
</section>


<section id="sonarqube-plugins" class="features">
        <div class="container">
            <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2">
                                <a href="3d-code-metrics" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/sonarqube-plugins/3d-code-metrics.png"/>
                                    <h3>3D Code Metrics</h3>
                                    <p class="text-muted">Your source code like never before. Display your software and quality metrcis as a 3D city.</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://github.com/SonarQubeCommunity/sonar-l10n-es" target="_blank" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/spanish-pack.png"/>
                                    <h3>Spanish Pack</h3>
                                    <p class="text-muted">Spanish localization pack for SonarQube.</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
