<section id="sonarqube-plugins" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">SonarQube Plugins <i class="fa fa-plug"></i></h2>
                <hr class="light">
                <h3>New metrics, new quality models, new ways to manage your code quality</h3>
            </div>
        </div>
    </div>
</section>


<section id="sonarqube-plugins" class="features">
        <div class="container">
            <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img width="140px" src="/img/atlassian-addons/3d-code-metrics.png"/>
                                    <h3>3D Code Metrics</h3>
                                    <p class="text-muted">Your source code like never before. Display your software and quality metrcis as a 3D city.</p>
                                    <!-- a href="#" class="btn btn-outline btn-xl page-scroll" >+ info</a -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img width="140px" src="/img/atlassian-addons/abc.png"/>
                                    <h3>ABC Metric</h3>
                                    <p class="text-muted">Compute your project size and complexity using the ABC metric (Assignment, Branches, Conditions).</p>
                                    <!-- a href="#" class="btn btn-outline btn-xl page-scroll" >+ info</a -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <img width="140px" src="/img/atlassian-addons/formula.png"/>
                                    <h3>Formula</h3>
                                    <p class="text-muted">Create new metrics using SonarQube core metrics in formulas.</p>
                                    <!-- a href="#" class="btn btn-outline btn-xl page-scroll" >+ info</a -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <div class="feature-item">
                                    <img width="140px" src="/img/atlassian-addons/tattletale.png"/>
                                    <h3>Tattletale</h3>
                                    <p class="text-muted">Retrieve general information about your project dependencies.</p>
                                    <!-- a href="#" class="btn btn-outline btn-xl page-scroll" >+ info</a -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="feature-item">
                                    <img width="80px" style="padding-top: 45px; margin-bottom: 20px" src="/img/atlassian-addons/spanish-pack.png"/>
                                    <h3>Spanish Pack</h3>
                                    <p class="text-muted">Language pack for Spanish Teams.</p>
                                    <!-- a href="#" class="btn btn-outline btn-xl page-scroll" >+ info</a -->
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
