<section id="atlassian-addons" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading"><img width="350px" style="padding-bottom: 5px;" src="/img/excentia/atlassian.png"/> apps <i class="fa fa-puzzle-piece"></i></h2>
                <hr class="light">
                <h3>Nuestros productos son el resultado del feedback que recibimos de nuestros clientes y de la innovación y mejora continua</h3>
            </div>
        </div>
    </div>
</section>


<section id="atlassian-addons" class="features">
        <div class="container">
            <div class="row">
                
            </div>
            <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="sonarqube-connector-jira" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/sonarqube-connector-jira.png"/>
                                    <h3>SonarQube Connector</h3>
                                    <p class="text-muted">Integración de JIRA con SonarQube. La calidad del código en tu panel de proyecto de JIRA.</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="time-tracking-stats" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/time-tracking-stats.png"/>
                                    <h3>Time Tracking Stats</h3>
                                    <p class="text-muted">La forma más rápida y sencilla de realizar seguimiento de tiempos en tus proyectos y equipos en JIRA</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="cards" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/cards.png"/>
                                    <h3>Cards</h3>
                                    <p class="text-muted">Kanbaniza tus proyectos y procesos de JIRA rápidamente. Visual Management y Agile de forma sencilla</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div> 
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="debt-tracker" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/debt-tracker.png"/>
                                    <h3>Project Health Monitor</h3>
                                    <p class="text-muted">Llevamos la metáfora de la deuda técnica al mundo de la gestión de proyectos y procesos en JIRA</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div> 
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="3d-issues-map" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/3d-issues-map.png"/>
                                    <h3>3D Issues Map</h3>
                                    <p class="text-muted">La visualización al rescate. Visualiza tus asuntos de JIRA como nunca antes lo habías hecho.</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div> 
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="issue-picker" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/issue-picker.png"/>
                                    <h3>Issue Picker Custom Field</h3>
                                    <p class="text-muted">Un nuevo tipo de campo personalizado para relacionar asuntos en JIRA y hacer búsquedas.</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div> 
                                </a>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                                <a href="traceabilityx" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/traceabilityx.png"/>
                                    <h3>TraceabilityX</h3>
                                    <p class="text-muted">Trazabilidad de los tipos de asunto y sus relaciones y diferentes formas de visualizarlo.</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div> 
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="elementsid" class="feature-item portfolio-box">
                                    <img width="80px" src="/img/atlassian-addons/elementsid.png"/>
                                    <h3>Elements ID for Jira</h3>
                                    <p class="text-muted">Todos los IDs de tus elementos de Jira (campos, estados, proyectos, ...)</p>
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">
                                                <i class="fa fa-plus-circle"></i>
                                            </div>
                                        </div>
                                    </div> 
                                </a>
                            </div>
                            <div class="col-md-2">
                            </div>                            
                        </div>
                        
                    </div>
            </div>
        </div>
    </section>
