<section id="process-quality-services" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Process Quality <span class="glyphicon glyphicon-folder-open"></span></h2>
                <hr class="light">
                <h3>We help you with services and processes continuous improvement</h3>
            </div>
        </div>
    </div>
</section>


<section id="process-quality-services" class="features">
        <div class="container">
            <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-compass text-primary"></i>
                                    <h3>Strategy</h3>
                                    <p class="text-muted">Services Portfolio definition<br>
                                    Financial analysis<br>
                                    Critical Success factors analysis</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-pencil-square-o text-primary"></i>
                                    <h3>Design</h3>
                                    <p class="text-muted">Services catalog definition<br>
                                    Service Level Agreement definition<br>
                                    Processes Map definition<br>
                                    Process Standarization and Documentation<br>
                                    Quality Plan definition<br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-ship text-primary"></i>
                                    <h3>Operation</h3>
                                    <p class="text-muted">
                                    Process Audits<br>
                                    Customer Satisfaction<br>
                                    Reports and Operations Support<br>
                                    KPIs management</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="service-item">
                                    <i class="fa fa-tachometer text-primary"></i>
                                    <h3>Continuous improvement and change management</h3>
                                    <p class="text-muted">
                                        Service Reporting <br>
                                        Knowledge Management and Training<br>
                                        Configuration Management (CMDB)<br>
                                        Support tools customization<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</section>
