<section id="process-quality-services" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Calidad de Procesos <span class="glyphicon glyphicon-folder-open"></span></h2>
                <hr class="light">
                <h3>Te ayudamos con la mejora continua de los procesos y servicios</h3>
            </div>
        </div>
    </div>
</section>


<section id="process-quality-services" class="features">
        <div class="container">
            <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-compass text-primary"></i>
                                    <h3>Estrategia</h3>
                                    <p class="text-muted">Definición del portfolio de los servicios<br>
                                    Análisis de costes<br>
                                    Estudio de indicadores críticos de negocio</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-pencil-square-o text-primary"></i>
                                    <h3>Diseño</h3>
                                    <p class="text-muted">Definición del catálogo de servicios<br>
                                    Definición de los Niveles de Servicio<br>
                                    Definición del Mapa de procesos<br>
                                    Estandarización y documentación de procesos y procedimientos<br>
                                    Definición de plan de calidad<br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service-item">
                                    <i class="fa fa-ship text-primary"></i>
                                    <h3>Operación</h3>
                                    <p class="text-muted">
                                    Auditorías de procesos<br>
                                    Encuestas de satisfacción<br>
                                    Generación de informes de soporte a la operativa del servicio<br>
                                    Gestión de indicadores</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="service-item">
                                    <i class="fa fa-tachometer text-primary"></i>
                                    <h3>Mejora continua y gestión del cambio</h3>
                                    <p class="text-muted">
                                        Gestión de no conformidades y acciones de mejora<br>
                                        Generación de informes de seguimiento del servicio<br>
                                        Gestión del Conocimiento y Formación<br>
                                        Gestión de la Configuración y activos del servicio (CMDB)<br>
                                        Herramientas de Soporte: parametrización y configuración<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</section>
