<section id="atlassian-products" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img width="350px" src="/img/excentia/atlassian.png"/>
                <hr class="light">
                <h3>Unleash the potential in every team.<br>Stronger, faster, better.</h3>
            </div>
        </div>
    </div>
</section>


<section id="atlassian-products" class="features">
    <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img style="width: 380px;" src="/img/atlassian-products/atlassian-customers.png" />
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>Collaboration</h3>
                                    <img width="200px" src="/img/atlassian-products/confluence.png"/>
                                    <h4>A place to share, find, colaborate and to do more in less time</h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>Tracking</h3>
                                    <img width="200px" src="/img/atlassian-products/jira-software.png"/><br>
                                    <img width="140px" src="/img/atlassian-products/jira-core.png"/>
                                    <h4>Issue management and code integration to plan, colaborate and release the best products</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>Messaging</h3>
                                    <img width="160px" src="/img/atlassian-products/hipchat.png"/>
                                    <h4>Share your ideas and files with your team. Private chat, group chat and video chat</h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>Code</h3>
                                    <img width="140px" src="/img/atlassian-products/bitbucket.png"/>
                                    <img width="140px" src="/img/atlassian-products/bamboo.png"/>
                                    <img width="140px" src="/img/atlassian-products/sourcetree.png"/>
                                    <h4>Store, review, test and deploy with Git and Mercurial and your teams</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>Support</h3>
                                    <img width="250px" src="/img/atlassian-products/jira-service-desk.png"/>
                                    <h4>Service support with SLAs, custom queues and real-time reporting</h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>And even more</h3><br>
                                    <img width="250px" src="/img/atlassian-products/marketplace.png"/>
                                    <h4>More solutions, products and plugins to improve the productivity of your team</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <a id="atlassian-issuecollector" href="#" class="btn btn-outline btn-xl page-scroll" >Contacta con nuestros expertos</a>
                            </div>
                        </div>
                    -->
                </div>
        </div>
    
    </div>
    
</section>
