<section id="sonarsource-products" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img width="380px" src="/img/sonarsource-products/sonarsource-white.png"/>
                <hr class="light">
                <h3>Continuous code quality inspection to keep your technical debt under control with SonarQube</h3>
            </div>
        </div>
    </div>
</section>


<section id="sonarsource-products" class="features">
    <div class="container">
            <div class="row">
                <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-cloud-download"></i>
                                    <h4>+750.000 downloads, +70.000 running instances, +1.500 community members</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-language"></i>
                                    <h4>Support for more than 25 languages: Java, C#, PHP, PL/SQL, COBOL, RPG, Swift, VB6 and much more</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-bar-chart"></i>
                                    <h4>Code Duplications, Unit Test Coverage, Code Complexity, Bugs, Vulnerabilities, Code Smells and much more</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-money"></i>
                                    <h4>Align your team to reduce your technical debt and reduce costs</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-line-chart"></i>
                                    <h4>Increase your application longevity taking control of your technical debt</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-check-circle-o"></i>
                                    <h4>Continuous inspection with the market leader tool</h4>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <a href="#" class="btn btn-outline btn-xl page-scroll" >Contacta con nuestros expertos</a>
                            </div>
                        </div>
                        -->
                </div>
        </div>
    </div>
</section>
