<!-- Content Start -->
<section id="features" style="padding: 50px 0">
  <div class="container">
    <div class="row">
      <div>
        <div class="product-features-carousel">
          <div id="product-features-slider" class="owl-carousel">
            <div class="text-center">
                <h1>{{ page.feature-title-1 }}</h1>
                <h3>{{ page.feature-description-1 }}</h3>
                <img class="img-responsive" style="margin: auto" src="{{ page.feature-screenshot-1 }}"/>
            </div>
            <div class="text-center">
                <h1>{{ page.feature-title-2 }}</h1>
                <h3>{{ page.feature-description-2 }}</h3>
                <img class="img-responsive" style="margin: auto" src="{{ page.feature-screenshot-2 }}"/>
            </div>
            <div class="text-center">
                <h1>{{ page.feature-title-3 }}</h1>
                <h3>{{ page.feature-description-3 }}</h3>
                <img class="img-responsive" style="margin: auto" src="{{ page.feature-screenshot-3 }}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
