<header>
    <section class="cta-product" style="background-image: url(/img/product-background-header.png)">
        <div class="cta-content">
            <div class="container text-center">
                <img src="{{ page.logo }}"/>
                <h3>{{ page.title }}</h3>
                <h1>{{ page.headline }}</h1>
                
                <br><br>
                {% if page.buylink %}
                <a href="{{ page.buylink }}" target="_blank" class="btn btn-outline btn-xl page-scroll">Buy now <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>&nbsp;
                <a href="{{ page.trylink }}" target="_blank" class="btn btn-outline btn-xl page-scroll">Try it <i class="fa fa-clock-o" aria-hidden="true"></i></a>&nbsp;
                {% else %}
                <a href="{{ page.trylink }}" target="_blank" class="btn btn-outline btn-xl page-scroll">Free download <i class="fa fa-download" aria-hidden="true"></i></a>&nbsp;
                {% endif %}
                
            </div>
        </div>
    </section>
</header>
