<section id="atlassian-products" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img width="350px" src="/img/excentia/atlassian.png"/>
                <hr class="light">
                <h3>Libera el potencial de los equipos.<br>Más fuerte, más rápido, mejor equipo.</h3>
            </div>
        </div>
    </div>
</section>


<section id="atlassian-products" class="features">
    <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img style="width: 380px;" src="/img/atlassian-products/atlassian-customers.png" />
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>Colaboración</h3>
                                    <img width="200px" src="/img/atlassian-products/confluence.png"/>
                                    <h4>Un lugar para que tu equipo pueda compartir, encontrar lo que busca, colaborar y hacer más en menos tiempo</h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>Seguimiento</h3>
                                    <img width="200px" src="/img/atlassian-products/jira-software.png"/><br>
                                    <img width="140px" src="/img/atlassian-products/jira-core.png"/>
                                    <h4>Seguimiento de incidencias e integración con código para planificar, colaborar y lanzar grandes productos</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>Mensajería</h3>
                                    <img width="160px" src="/img/atlassian-products/hipchat.png"/>
                                    <h4>Comparte ideas y archivos con tu equipo mediante chats privados, grupales y de vídeo</h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>Código</h3>
                                    <img width="140px" src="/img/atlassian-products/bitbucket.png"/>
                                    <img width="140px" src="/img/atlassian-products/bamboo.png"/>
                                    <img width="140px" src="/img/atlassian-products/sourcetree.png"/>
                                    <h4>Almacena, revisa, prueba y despliega el código Git y Mercurial de tus equipos</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>Soporte</h3>
                                    <img width="250px" src="/img/atlassian-products/jira-service-desk.png"/>
                                    <h4>Proporciona soporte a tus clientes con potentes SLAs, colas personalizadas e informes en tiempo real</h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="atlassian-item">
                                    <h3>Y mucho más</h3><br>
                                    <img width="250px" src="/img/atlassian-products/marketplace.png"/>
                                    <h4>Más soluciones, productos y complementos para mantener a tu equipo en forma</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <a id="atlassian-issuecollector" href="#" class="btn btn-outline btn-xl page-scroll" >Contacta con nuestros expertos</a>
                            </div>
                        </div>
                    -->
                </div>
        </div>
    
    </div>
    
</section>
