{% if page.usage %}
<section id="usage" class="download bg-primary text-center" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Main features</h2>
                <hr class="light">
            </div>
        </div>
    </div>
</section>


<section id="usage" style="padding: 50px 0">
        <div class="container">
            <div class="row">
                    <div class="container-fluid">
                        <div class="row">
                            <h3>
                            <ul>
                            {% for desc in page.usage %}
                                <li>{{ desc }}</li>
                            {% endfor %}
                            </ul>
                            </h3>
                        </div>
                        {% if page.buylink %}
                        <div class="row text-center">
                            <a href="{{ page.buylink }}" class="btn btn-outline btn-xl page-scroll">Buy now <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>&nbsp;
                            <a href="{{ page.trylink }}" class="btn btn-outline btn-xl page-scroll">Try it <i class="fa fa-clock-o" aria-hidden="true"></i></a>&nbsp;
                        </div>
                        {% endif %}
                    </div>
            </div>
        </div>
</section>
{% endif %}