<section id="sonarsource-products" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img width="380px" src="/img/sonarsource-products/sonarsource-white.png"/>
                <hr class="light">
                <h3>Inspección continua de la calidad del código para mantener la deuda técnica bajo control con SonarQube</h3>
            </div>
        </div>
    </div>
</section>


<section id="sonarsource-products" class="features">
    <div class="container">
            <div class="row">
                <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-cloud-download"></i>
                                    <h4>+750.000 descargas, +70.000 instalaciones, +1.500 miembros en la comunidad</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-language"></i>
                                    <h4>Soporte para más de 25 lenguajes: Java, C#, PHP, PL/SQL, COBOL, VB6 y muchos más</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-bar-chart"></i>
                                    <h4>Análisis de código duplicado, cobertura de pruebas unitarias, complejidad de código, bugs, vulnerabilidades, code smells y mucho más</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-money"></i>
                                    <h4>Alinea todo tu equipo para reducir la deuda técnica de tus aplicaciones y ahorrar costes</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-line-chart"></i>
                                    <h4>Incrementa la longevidad de los desarrollos tomando el control de la deuda técnica</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sonarsource-item">
                                    <i class="fa fa-check-circle-o"></i>
                                    <h4>Inspección continua de tu código fuente con la plataforma líder del mercado</h4>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <a href="#" class="btn btn-outline btn-xl page-scroll" >Contacta con nuestros expertos</a>
                            </div>
                        </div>
                        -->
                </div>
        </div>
    </div>
</section>
