<section id="quality-policy" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Quality Policy</h2>
                <hr class="light">
                <h3>We focus on our Quality Management System implementation, maintainability and continuous improvement as one of our main strategic goals</h3>
            </div>
        </div>
    </div>
</section>

<section id="quality-policy">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-money text-primary"></i>
                    <h3>Solidez económica y financiera</h3>
                    <h4 class="text-muted">Para mantenerse en el tiempo y evolucionar, se ha de garantizar una viabilidad económica que resulte rentable, y eso va muy ligado a su solidez en el mercado en el que se mueve</h4>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-check-circle text-primary"></i>
                    <h3>Calidad y mejora continua</h3>
                    <h4 class="text-muted">Uno de nuestras máximas principales es la calidad. Y entendemos por calidad el ánimo de "hacer las cosas bien a la primera". Pero además de hacerlas bien, las queremos hacerlas cada vez mejor, en un proceso de mejora continua</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 text-center">
                <h3></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cart-plus text-primary"></i>
                    <h3>Desarrollo de mercados y soluciones</h3>
                    <h4 class="text-muted">Un signo distintivo que deseamos tener es la sensibilidad y orientación al cliente. Necesitamos conocer su opinión y qué aspectos de mejora podemos trabajar para estar lo más cerca de él que sea posible.</h4>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-plus text-primary"></i>
                    <h3>Capital humano</h3>
                    <h4 class="text-muted">Es de vital importancia para nosotros, que basamos nuestro éxito en la calidad, disponer de un equipo de personas con el máximo talento, motivado y fiel</h4>
                </div>
            </div>
        </div>
    </div>
    
</section>