
<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/creative.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Bootstrap Dropdown Hover JS -->
<script src="/js/bootstrap-dropdownhover.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="/js/new-age.min.js"></script>

<!-- Include js plugin -->
<script src="/js/owl.carousel.min.js"></script>

<!-- Fancybox -->
<script src="/js/jquery.fancybox.js"></script>

<!-- form validation -->
<script src="/js/jqBootstrapValidation.js"></script>

<!-- Cookies -->
<script type="text/javascript" id="cookieinfo" src="/js/cookieinfo.min.js">
</script>

<!-- Main -->
<script src="/js/main.js"></script>

{% if site.google_analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
          _gaq.push(['_trackPageview']);
  (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7892756.js"></script>
<!-- End of HubSpot Embed Code -->
