
    <section id="atlassian-services" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Somos expertos Atlassian en entornos críticos</h2>
                        <p class="text-muted">Nacimos con Atlassian y desde 2009 seguimos ofreciendo soluciones y servicios especializados en soluciones Data Center</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class='zift_plugin' id='8a9983e46e8431d3016e87ec10c64e54'></div>
            </div>
        </div>
    </section>
        
<section id="atlassian-extras" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="section-heading"><img width="350px" src="/img/excentia/atlassian.png"/></h2>
                    <hr class="light">
                    <h3>Libera el potencial de los equipos.<br>Más fuerte, más rápido, mejor equipo.</h3>
                    <br>
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading">apps <i class="fa fa-puzzle-piece"></i></h2>
                    <hr class="light">
                    <h3>Nuestra experiencia nos ha llevado a construir productos propios para mejorar el ecosistema Atlassian</h3>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="/#atlassian-products" class="btn btn-outline btn-xl page-scroll" >+Info productos</a>
                </div>
                <div class="col-md-6">
                    <a href="/#atlassian-addons" class="btn btn-outline btn-xl page-scroll" >+Info apps</a>
                </div>
            </div>
        </div>
    </div>
</section>
