
    <section id="sonarsource-services" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>The best solution for continuous inspection</h2>
                        <h4>
                            We guide you to the best SonarQube implementation for continuous code quality inspection.<br>
                            We are SonarSource on exclusive basis in Spain and the only one partner in Latin-America.<br>
                        </h4>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="sonarsource-service-item">
                                    <i style="color: #c42422" class="icon-speedometer"></i>
                                    <h3>Measure</h3>
                                    <p class="text-muted">
                                        In this engagement, we will provide support in choosing the right infrastructure, installing the application, configuring it to fit your needs and running your first quality inspections.<br><br>
                                        We will provide support to on-board your applications into a Continuous Inspection process. This will cover various types of applications and technologies.<br><br>
                                        We will cover everything you need to get started with SonarQube and continuous inspection paradigm.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="sonarsource-service-item">
                                    <i style="color: #c42422" class="icon-equalizer"></i>
                                    <h3>Normalize</h3>
                                    <p class="text-muted">
                                        We will help you to define the reference metrics and the required quality profile based on our expertise and your current scenario. <br><br>
                                        In this engagement, we will discuss why code quality matters, the concepts of Continuous Inspection and how to implement it with SonarQube. We will discuss its benefits, the management buy-in required to succeed and the return on investment.<br><br>
                                        We will train your team on technical and functional administration of the application.<br><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="sonarsource-service-item">
                                    <i style="color: #c42422" class="icon-badge"></i>
                                    <h3>Certification</h3>
                                    <p class="text-muted">
                                        We will support you with defining your requirements as well as with the level of commitment you will make to quality improvement within your organization. Based on the current state of your applications, we will then establish a process and a roadmap and provide support to reach those objectives.<br><br>
                                        We will support the definition and implementation of a contractualization strategy with your outsourcing / offshoring vendors.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="sonarsource-service-item">
                                    <i style="color: #c42422" class="icon-graph"></i>
                                    <h3>Continuous Improvement</h3>
                                    <p class="text-muted">
                                        Our experts will provide response to any technical questions about all the SonarQube ecosystem, including platform and plugins.<br><br>
                                        This ensures the ongoing success of SonarQube deployment by saving time and effort and ensuring they receive prompt, expert assistance in troubleshooting.<br><br>
                                        This services includes also remote support for SonarQube version upgrades so that you can always use the latest and greatest version of SonarQube.<br><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <a href="{{ site.support_url }}" class="btn btn-outline btn-xl" >Contact our experts</a>
                </div>
            </div>
        </div>
    </section>
        
<section id="sonarsource-extras" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="row">
                <div class="col-md-6">
                    <img width="350px" src="/img/sonarsource-products/sonarsource-white.png"/>
                    <hr class="light">
                    <h3>Improve your code quality.<br>Continuous Inspection Code Quality.</h3>
                    <br>
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading">Plugins <i class="fa fa-plug"></i></h2>
                    <hr class="light">
                    <h3>We contribute to the SonarQube ecosystem extending the functionality</h3>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="/en/#sonarsource-products" class="btn btn-outline btn-xl page-scroll" >+Info products</a>
                </div>
                <div class="col-md-6">
                    <a href="/en/#sonarqube-plugins" class="btn btn-outline btn-xl page-scroll" >+Info plugins</a>
                </div>
            </div>
        </div>
    </div>
</section>
