
    <section id="atlassian-services" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>We are Atlassian experts</h2>
                        <p class="text-muted">
                            We born with Atlassian and since 2009 we continue to offer professional services and solutions for all their products
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="atlassian-service-item">
                                    <i style="color: #0052CC;" class="icon-layers"></i>
                                    <h3>Getting Started</h3>
                                    <p class="text-muted">
                                        We help you getting started with Atlassian tools with your development teams, IT teams or any other business process team
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="atlassian-service-item">
                                    <i style="color: #0052CC;" class="icon-support"></i>
                                    <h3>Atlassian Experts 360º Support</h3>
                                    <p class="text-muted">
                                        The best way to keep your Atlassian ecosystem always supported and up to date. Continuous improvement with instances reviews, technical support, frequent upgrades, administration support, ...
                                        Do you want to know more? Contact us!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="atlassian-service-item">
                                    <i style="color: #0052CC;" class="icon-equalizer"></i>
                                    <h3><em>On-demand</em> services</h3>
                                    <p class="text-muted">
                                        Because each context is unique and special. We can help you developing custom reports and apps, we can recommend third party plugins, we can help with data migration, to unify several instances, ...
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="atlassian-service-item">
                                    <i style="color: #0052CC;" class="icon-graduation"></i>
                                    <h3>Training</h3>
                                    <p class="text-muted">
                                        We offer flexible training packs to cover all your scenarios: training to development teams, administration training,  service desk agents training, ...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <a href="{{ site.support_url }}" class="btn btn-outline btn-xl" >Contact our experts</a>
                </div>
            </div>
        </div>
    </section>
        
<section id="atlassian-extras" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="section-heading"><img width="350px" src="/img/excentia/atlassian.png"/></h2>
                    <hr class="light">
                    <h3>Unleash the potential on every team.<br>Stronger, faster, better teams.</h3>
                    <br>
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading">apps <i class="fa fa-puzzle-piece"></i></h2>
                    <hr class="light">
                    <h3>Our products are made with love thanks to our customer feedback for innovation and continuous improvement</h3>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="/en/#atlassian-products" class="btn btn-outline btn-xl page-scroll" >+Info Atlassian</a>
                </div>
                <div class="col-md-6">
                    <a href="/en/#atlassian-addons" class="btn btn-outline btn-xl page-scroll" >+Info apps</a>
                </div>
            </div>
        </div>
    </div>
</section>
