
    <section id="sonarsource-services" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>La mejor solución de inspección continua</h2>
                        <h4>Te guiamos hacia la mejor implementación de la inspección continua de código con SonarQube.<br>
                            Somos partners exclusivos en España y el único partner oficial en Latinoamérica.<br>
                        </h4>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="sonarsource-service-item">
                                    <i style="color: #c42422" class="icon-speedometer"></i>
                                    <h3>Medir</h3>
                                    <p class="text-muted">Te podemos ayudar a poner en marcha SonarQube con las mejores prácticas para obtener resultados desde el primer día.<br><br>
                                    Instalación, configuración, on-boarding de proyectos, ... Todo lo que necesitas para empezar a trabajar con el paradigma de inspección continua de código.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="sonarsource-service-item">
                                    <i style="color: #c42422" class="icon-equalizer"></i>
                                    <h3>Normalizar</h3>
                                    <p class="text-muted">Pronto te darás cuenta de la gran cantidad de información sobre la calidad del código de la que dispones. Tendrás que seleccionar las métricas de referencia que te guiarán en tu proceso de mejora continua. ¿Código repetido? ¿Complejidad? ¿Deuda técnica? <br><br>
                                    Te ayudamos a normalizar las mediciones con aquellas métricas que más se adapten y que te permitan alcanzar los objetivos de calidad que buscas. </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="sonarsource-service-item">
                                    <i style="color: #c42422" class="icon-badge"></i>
                                    <h3>Certificar</h3>
                                    <p class="text-muted">Establecer unos requisitos de calidad objetivos y comunes, que te permitan configurar ese umbral de calidad por el que deben pasar tus proyectos para llegar a producción. Esto te permitirá crear un sello de calidad dentro de tu organización que te garantizará menos defectos y te dará prestigio ante los clientes que utilicen tu software.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="sonarsource-service-item">
                                    <i style="color: #c42422" class="icon-graph"></i>
                                    <h3>Supervisar</h3>
                                    <p class="text-muted">
                                        Promover, difundir y mantener la cultura de calidad en la organización para evitar que se degrade con el tiempo y que el ciclo de mejora continua siempre esté vivo. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <a href="{{ site.support_url }}" class="btn btn-outline btn-xl" >Contacta con nuestros expertos</a>
                </div>
            </div>
        </div>
    </section>
        
<section id="sonarsource-extras" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="row">
                <div class="col-md-6">
                    <img width="350px" src="/img/sonarsource-products/sonarsource-white.png"/>
                    <hr class="light">
                    <h3>Mejora la calidad de tu código.<br>Inspección continua de la calidad del código.</h3>
                    <br>
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading">Plugins <i class="fa fa-plug"></i></h2>
                    <hr class="light">
                    <h3>Contribuimos al ecosistema de SonarQube y extendemos su funcionalidad</h3>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="/#sonarsource-products" class="btn btn-outline btn-xl page-scroll" >+Info productos</a>
                </div>
                <div class="col-md-6">
                    <a href="/#sonarqube-plugins" class="btn btn-outline btn-xl page-scroll" >+Info add-ons</a>
                </div>
            </div>
        </div>
    </div>
</section>
