<div class="row text-center" style="padding-top: 25px">  
</div>

<div class="row text-center">
    Comparte en 
    <a class="btn-social-share" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
                    rel="nofollow" target="_blank" title="Compartir en Facebook">
                    <i class="fa fa-fw fa-facebook fa-3x"></i>
    </a>
    <a class="btn-social-share" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.share.twitter }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Comparte en twitter">
                    <i class="fa fa-fw fa-twitter fa-3x"></i>
    </a>
    <a class="btn-social-share" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.url }}"
                    onclick="window.open(this.href, 'linkedin-share','width=580,height=296');return false;" title="Comparte en LinkedIn">
                    <i class="fa fa-fw fa-linkedin fa-3x"></i>
    </a>
    &nbsp;
    <a class="btn-social-share" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title="Comparte en Google+">
                    <i class="fa fa-fw fa-google-plus fa-3x"></i>
    </a>
</div>

<div class="row text-center" style="padding-top: 25px">
</div>