<section id="testimonial" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Casos de éxito</h2>
                <hr class="light">
                <h3>Nos gusta recibir feedback sobre nuestro trabajo</h3>
            </div>
        </div>
    </div>
</section>

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div>
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
                <p>Gestión de Entregas y Evaluación del Software</p>
                <h3>"La organización ha ganado en estabilidad, fiabilidad, rendimiento y sobre todo, credibilidad. El prestigio ganado nos hace seguir apostando fuertemente por el proyecto"</h3>
                <div class="user">
                  <img src="img/excentia/logo-sanitat.png" alt="IMG">
                  <p><strong>Responsable de la oficina de Gestión de Entregas y Calidad de Software</strong></p>
                </div>
            </div>
            <div>
                <p>Inspección continua de calidad de software</p>
                <h3>"Ahora tenemos una visión objetiva de nuestro código, permitiéndonos normalizar el desarrollo y focalizar nuestro esfuerzo en mejorar los indicadores analizados"</h3>
                <div class="user">
                  <img width="250px" src="img/excentia/logo-edicom.jpg" alt="IMG">
                  <p><strong>Responsable del departamento de I+D</strong></p>
                </div>
            </div>
            <div>
                <p>Oficina de Calidad</p>
                <h3>"Este proyecto nos ha permitido dar visibilidad, tanto interna al servicio como fuera, de todo lo que hacemos en CATS. Ahora contamos con una visión global de los procesos del servicio, entradas, recursos, controles y salidas de los que se compone cada uno y las relaciones que existen entre ellos. A partir de aquí, a seguir mejorando..."</h3>
                <div class="user">
                  <img src="img/excentia/logo-cats.png" alt="IMG">
                  <p><strong><span>Centro de Atención Telefónica Sanitaria</span> Jefe de Servicio</strong></p>
                </div>
            </div>
            <div>
                <p>Unificación de procesos y soporte con productos Atlassian</p>
                <h3>"En este proyecto la organización ha conseguido una mejora del servicio proporcionado pudiendo incluir de manera eficiente nuevos servicios dentro de la misma y con la posibilidad de realizar un análisis real de la demanda por ámbito de negocio"</h3>
                <div class="user">
                  <img src="img/excentia/logo-dgtic.png" alt="IMG">
                    <p><strong><span>Dirección General de Tecnologías de la Información y las Comunicaciones</span> Jefe de Servicio</strong></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>