<section id="testimonial" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Testimonials</h2>
                <hr class="light">
                <h3>There's nothing better that your feedback. We love it!</h3>
            </div>
        </div>
    </div>
</section>

<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div>
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
                <p>Release Management and Code Quality Management</p>
                <h3>"Our organization has now better stability, fiability, performance, but overall, credibility."</h3>
                <div class="user">
                  <img src="img/excentia/logo-sanitat.png" alt="IMG">
                  <p><strong>Service Manager</strong></p>
                </div>
            </div>
            <div>
                <p>Continuous Code Quality Inspection</p>
                <h3>"We finally know how good or bad is our code, using standard metrics and measures. Now we can focus and put our efforts in continous code improvement and get instant feedback about it. Code Quality is now a must have and it is part of our development cycle."</h3>
                <div class="user">
                  <img width="250px" src="img/excentia/logo-edicom.jpg" alt="IMG">
                  <p><strong>Research and Development Manager</strong></p>
                </div>
            </div>
            <div>
                <p>Quality Assurance Office</p>
                <h3>"This project gave us visibility, both internal and external, of all the things we do. Now we have a clear vision of the whole service, inputs, resources, checkpoints, outputs, and all the relationships between them. And then, continuous improvement..."</h3>
                <div class="user">
                  <img src="img/excentia/logo-cats.png" alt="IMG">
                  <p><strong><span>Healthcare Call Center Service</span> Service Manager</strong></p>
                </div>
            </div>
            <div>
                <p>Process Management Centralization and Support with Atlassian Suite</p>
                <h3>"The organization has improved the way we provide the service by including new process in an easy way. We can also get real-time analytics by business area and focus on continuous improvement."</h3>
                <div class="user">
                  <img src="img/excentia/logo-dgtic.png" alt="IMG">
                    <p><strong><span>Dirección General de Tecnologías de la Información y las Comunicaciones</span> Service Manager</strong></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>