<section id="values" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Nuestros valores</h2>
            </div>
        </div>
    </div>
</section>

<section id="values">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-circle-o wow bounceIn text-primary"></i>
                    <h3>Simplicidad y transparencia</h3>
                    <h4 class="text-muted">Hacemos las cosas de manera sencilla, simple, eliminando aspectos superfluos y complejidades. La "transparencia" elimina ambigüedades y malentendidos.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-check-square-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Calidad y metodología</h3>
                    <h4 class="text-muted">Nos adaptamos a los cambios impulsando metodologías ágiles, que permiten alcanzar un altísimo grado de calidad y confianza en lo que hacemos.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-magic wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Innovación y mejora continua</h3>
                    <h4 class="text-muted">Vemos las cosas de forma distinta. Nos "reinventamos" una y otra vez y ofrecer los mejores productos y servicios.</h4>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary"></i>
                    <h3>Equipo</h3>
                    <h4 class="text-muted">Es fundamental que el equipo humano se encuentre motivado cada día, se sienta implicado en lo que hace, con el resto de compañeros y con la compañía.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Bienestar, ilusión y diversión</h3>
                    <h4 class="text-muted">Nos divertirnos con lo que hacemos, lo hacemos con ilusión y pasión.</h4>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>El cliente</h3>
                    <h4 class="text-muted">Somos una compañía cercana, con una toma de decisiones eficaz y eficiente y con una gran empatía y sensibilidad con sus clientes y sus problemas.</h4>
                </div>
            </div>
            
        </div>
    </div>
    
</section>
