<section id="vision" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Our vision <i class="fa fa-bullseye" aria-hidden="true"></i> </h2>
            </div>
        </div>
    </div>
</section>

<section id="vision" class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 style="font-size: 32px"><em>"To become a singular and recognized <strong>reference</strong> in <strong>software quality assurance and process management</strong>, with a perfect implementation for continuous improvement and an unquestionable prestige."</em></h3>
            </div>
        </div>
    </div>
</section>