<section id="vision" class="download bg-primary text-center" style="padding: 50px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Nuestra visión <i class="fa fa-bullseye" aria-hidden="true"></i> </h2>
            </div>
        </div>
    </div>
</section>

<section id="vision" class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 style="font-size: 32px"><em>"Llegar a ser una <strong>referencia</strong> singular y reconocida en el ámbito de la <strong>gestión de la calidad del software y de los procesos</strong>, con una ejecución impecable y un prestigio incuestionable"</em></h3>
            </div>
        </div>
    </div>
</section>
