<!DOCTYPE html>
<html lang="es">
  
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | jsonify }},
  "image": "{{ site.url }}{{ page.cover }}",
  "author": {
    "@type": "Person",
    "name": {{ page.author | jsonify }},
    "url": "{{ site.url }}/sobre-nosotros"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/img/logo-excentia.png"
    }
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  }
}
</script>