<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body id="page-top">
  {% include nav-blog.html %}
    
    <section id="events-title" class="download bg-primary text-center" style="padding: 120px 0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Únete a nuestro equipo</h2>
                    <hr class="light">
                    <h4>Estamos constantemente incorporando talento a nuestro equipo. Si nos conoces y te gusta lo que
                      hacemos, no dudes en contactar con nosotros, y si no nos conoces todavía, pues nos los dices y
                      quedamos contigo para conocernos mejor.</h4>
                </div>
            </div>
        </div>
    </section>

    <section id="events-content" class="features">
    <div class="container">
        {{ page.content }}
    </div>
    </section>

  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>