<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav-en.html %}
  {% include header-en.html %}
  {% include code-quality-services-en.html %}
  {% include process-quality-services-en.html %}
  {% include products-atlassian-en.html %}
  {% include portfolio-atlassian-en.html %}
  {% include products-sonarsource-en.html %}
  {% include portfolio-sonarqube-en.html %}
  {% include vision-en.html %}
  {% include values-en.html %}
  <!-- {% include quality-policy_en.html %} -->
  {% include awards-en.html %}
  {% include testimonials-en.html %}
  {% include contact-en.html %}
  {% include scripts.html %}
</body>

</html>
